[2016-09-30 08:16] marko89kv opened #4 "Unmet peer dependency"
Hi, when I tried to install the library with `npm install react-native-tesseract-ocr --save`, I got an error:

[code]

my `react-native` version was 0.34, so I've updated it to 0.34.1, and the result is the same.

[2016-09-30 17:05] #4 closed

[2016-09-30 19:38] jonathanpalma commented on #4
@marko89kv Hey man!! I appreciate your support opening an issue. I tried to replicate the error but it looks like is just a warning

[code]

that is caused by npm when `react-native-tesseract-ocr` peerDependencies are missing on your project. But considering that when you install this lib you're already using a version of `react-native` on your project, so I decided to remove the peerDependencies

[2016-10-11 08:38] diemvtt opened #5 "Can not read property 'startOcr' of undefined"
Hi @jonathanpalma ,
I've tried using your libs, but it appears this error.
I follow your installation step by step.

I'm a newbie in react-native and ios.
Hope you will help me to resolve this. Thank you!~~

[2016-10-14 17:37] jonathanpalma commented on #5
Hey @diemvtt you're welcome,
I appreciate your support using my lib.
Unfortunately [iOS implementation is not ready yet](https://github.com/jonathanpalma/react-native-tesseract-ocr#todos) but I'm working on it.

Be sure I will fix it ASAP. Thank you!!

[2016-10-20 23:12] anupkale1984 opened #6 ""Data file not found at " keep getting this error."
I was trying your sample, And i keep getting this error for file not found.

PATH - /storage/emulated/0/Pictures/image-ea1f7b95-141a-4d44-bc8f-8b76552833ed.jpg
 Timeline: Activity_idle id: android.os.BinderProxy@c792cf time:191950033
25747-25918/com.ammobile D/RNTesseractOcr: Preparing tesseract enviroment
25747-25918/com.ammobile I/RNTesseractOcr: Created directory /storage/emulated/0/com.ammobil

[2016-10-21 00:47] anupkale1984 commented on #6
Got fixed: By mistake added file to wrong folder.

[2016-10-21 00:47] #6 closed

[2016-10-21 16:13] jonathanpalma commented on #6
Hey @anupkale1984 I appreciate your support, that was my mistake because I omitted to mention it on the [example section](https://github.com/jonathanpalma/react-native-tesseract-ocr#example) of the README

[code]

[2016-10-24 09:41] diemvtt commented on #5
Hi @jonathanpalma, i've written code to support iOS, it's working now. But it has a little bug, because it cannot read number. But it's good when reading text. I wonder that if can i help you to update your source code to support iOS.
And i use OCR lib from this. https://github.com/gali8/Tesseract-OCR-iOS

[2016-10-24 16:38] jonathanpalma commented on #5
Hey @diemvtt, It sounds great!! Send a PR and I gladly accept. :smile:

[2016-10-25 01:22] diemvtt commented on #5
Hi @jonathanpalma ,
Please wait me to integrate it to your code. Because i make it on my source code. :P.

[2016-11-23 09:42] pannz opened #8 "is iOS finish yet? Any recent roadmap for iOS"
that would be great help

[2016-11-24 06:16] jonathanpalma commented on #8
Heeey @pannz !!

[2016-11-24 06:25] jonathanpalma commented on #8
Hey @pannz !! I'm sorry to say that I could not work on it (iOS implementation) these days but I don't have a Mac. :disappointed:
So I decided to ask a friend for help and we hope that it could be ready in the second or third week of December, 2016.

[2016-11-28 20:01] mikasjoman commented on #8
That would be fantastic! I was a bit confused when I read the iOS instructions and could't get it to work. Then I finally got to the bottom of the instructions and saw the TODO ;) Wish I knew how to code in Swift, but I just don't have the time :( Hoping for this project to run ahead fast instead :) Thanks for working on it!

[2016-12-07 20:47] mikasjoman opened #9 "Getting jibberish when using LANG_SWEDISH"
Hi, which files are neccessary for the OCR to work with Swedish? I downloaded the swe... file but it seems it doesn't work. Do I need the whole /tessdata folder with every language - or is it enough to just use a couple of them?

[2016-12-10 21:25] jonathanpalma commented on #9
@mikasjoman I'm really sorry for not replying but I'm traveling in Costa Rica and it makes me a bit difficult to connect to the internet 😢 But I will be working ASAP or when I'm already at home. Best regards. Pura Vida!! :costa_rica: ✌️

[2016-12-19 19:47] ljubic commented on #8
Hello, any news? 😄

[2016-12-28 12:27] devbks opened #10 "[Error: Failed to read bitmap]"
i'm getting this error as log with english traineddata
the complete error is
'OCR Error: ', { [Error: Failed to read bitmap] framesToPop: 1, code: 'An error occurred' }

[2016-12-28 20:51] jonathanpalma commented on #10
Heey @devbks  Thank you for your support opening an issue. It looks like the bitmap couldn't be created from the path that you specified. I found you are using [react-native-camera](https://github.com/lwansbrough/react-native-camera) on your [stackoverflow question](http://stackoverflow.com/questions/41362503/react-native-tesseract-ocr-error-failed-to-read-bitmap) so, let me test it and I will try

[2016-12-28 20:54] jonathanpalma commented on #8
@ljubic Heey man!! I'm really sorry I had to leave the country for a few days but I'm back now and I will try to work on this these days. Happy Holidays :beers::tada:

[2016-12-28 21:10] setrin commented on #8
Nice to hear, Happy Holidays to You as well 🙂 Thanks for Your work man

[2017-01-02 13:04] Thomeuxe commented on #10
Same error here.
The path returned by the react-native-camera component is : "file:///storage/emulated/0/DCIM/IMG_20170102_135548.jpg"

[2017-01-02 22:23] jonathanpalma commented on #10
@Thomeuxe could you give me more information about how are you getting the path of your image? libs? some code?

[2017-01-17 05:05] congnguyen91 commented on #5
Is anyone supporting this :)

[2017-01-17 05:11] jonathanpalma commented on #5
@congnguyen91 Yup!! I'm working on it!! Sorry for the delay but I am working on another projects that consume most of my time and I have very little time to dedicate maintenance to this project. But be sure what this will be fixed ASAP!!

[2017-01-19 12:16] JonathanWi commented on #8
Hey there! Any news on this @jonathanpalma, really looking forward to using this!

[2017-01-19 14:02] johnrosenbaud11 commented on #8
Hello everyone, is there any iOS version coming out?

Thanks

[2017-01-23 21:12] mikasjoman commented on #9
Hi - any progress on this? Do you know if there is any other way to do OCR with react native that makes the Swedish ÅÄÖ characters come out? I am trying to help my immigrant wife study medical Swedish, and she needs my app to be able to learn faster.

[2017-01-25 00:48] johnrosenbaud opened #11 "Poor text outcome"
Hello, I am getting extremely poor text outcome, something like 10%, pure gibberish, when running on Android. I must have placed the wrong eng.traineddata file OR in the wrong folder. I am running the tesseractOcrSample, demo, and added the eng.traineddata file here:
`tesseractOcrSample/node_modules/react-native-tesseract-ocr/android/src/main/assets/tessdata/eng.traineddata`
I took this eng.traine

[2017-01-25 00:56] jonathanpalma commented on #11
Heeey @johnrosenbaud try to place the traineddata files for each lang you want to use inside `[YOUR_PROJECT]/android/src/main/assets/tessdata` and try to get the traineddata files from the official tesseract's repo

[2017-01-25 19:42] johnrosenbaud commented on #11
Hey @jonathanpalma  thanks for your response, I've added the Tesseract 3.04 version (is it the right version?) files to the tesseractOcrSample sample project included as example -- as you suggested, in  `tesseractOcrSample/android/src/main/assets/tessdata,

both (tried both and separately, respectively) the `eng.traineddata` file and:

`eng.cube.bigrams
eng.cube.fold
eng.cube.lm
eng.cube.nn
eng.cu

[2017-01-25 20:23] jonathanpalma commented on #11
@johnrosenbaud you're welcome!! It seems a bit strange but let me review the documentation and do some testing today because I have identified that the library that was implemented for android has been updated and it mentions something about version incompatibility for traineddata files :thinking: Thank you for your support to make this project grow!!

PD: It would be great if you can provide the

[2017-01-25 20:41] johnrosenbaud commented on #11
Thanks @jonathanpalma here's the picture and the text output:

![valentino-text-message](https://cloud.githubusercontent.com/assets/25109658/22308257/3901ad7e-e314-11e6-965f-441ea3929fc4.jpg)

OCR Result: < Menage: Luis Deml

Left 1 message m >>. nanny
Deahnn wmh 3 Procurement wssu?
and 3.4mm mm mm audnur

etc. etc.

This a screenshot of the folder structure:

<img width="1272" alt="tessdata_scree

[2017-01-25 20:53] johnrosenbaud commented on #11
<img width="419" alt="android_emulator_tesseract" src="https://cloud.githubusercontent.com/assets/25109658/22308802/78604eec-e316-11e6-8696-f837bb5beb08.png">

[2017-01-26 18:50] johnrosenbaud commented on #11
Solved. It wasn't due to placing the eng.traineddata file correctly, they are by default. The poor text outcome was due to the pre-defined ImagePicker options set to 500 px for height and weight which prevents a good text output quality, and must be set to 2000 or higher to get the right output. Thanks for your assistance.

[2017-01-26 19:01] #11 closed

[2017-01-26 19:02] jonathanpalma commented on #11
@johnrosenbaud You're welcome!

[2017-02-13 01:18] jonathanpalma commented on #9
Hi @mikasjoman
I just released a new version that implements tess-two 6.2.0. I have also updated the documentation with the correct version of the trained data files because I found it could be one of the causes of the problem.

Please try with `react-native-tesseract-ocr@1.0.7` and let me know if it solves this issue. :v:

[2017-02-13 01:27] jonathanpalma commented on #9
@mikasjoman answering to your question "Do I need the whole /tessdata folder with every language - or is it enough to just use a couple of them?"

You just need the ".traineddata" files of the langs that you would like to use.

Also for this question check if you're not scaling or resizing your image because it could prevents a good text output quality. For more information about this check #11

[2017-02-13 17:55] marko1943 opened #13 "Is it possible to add my own traineddata?"
Hi,

I was wondering is this possible?
What I though would it be possible edit this java class where you declare languages and trained data
https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/android/src/main/java/com/reactlibrary/RNTesseractOcrModule.java

Add some lang of my own, and then reference it in react & use it? Would that work as expected?

[2017-02-13 20:57] jonathanpalma commented on #13
Hey @marko1943
It's a good idea, I'll add a LANG_CUSTOM constant to handle customs traineddata files under the name `custom.traineddata`

[2017-02-13 21:16] marko1943 commented on #13
@jonathanpalma great stuff, thanks!

[2017-02-13 21:17] #13 closed

[2017-02-13 21:21] jonathanpalma commented on #13
You're welcome @marko1943

You can check it out [here](https://github.com/jonathanpalma/react-native-tesseract-ocr#if-you-want-to-use-your-own-trained-data-file)!! Please let me know if the solution meets the requirements

[2017-02-13 21:30] marko1943 commented on #13
I believe it should be all good. Can't test right now since I'm still working on my custom trained data but yap, this should do the job.

[2017-02-14 01:55] marko1943 commented on #13
@jonathanpalma Confirming it works.

One question, I saw it on your to-do and noticed you're planing to implement setVariable from tessBaseApi to implement whitelists/blacklists, how is that going?

I started working on that but I'm just finding my way through all of this, I'm actually coming from Ionic and moved here cause Ionic plugin for tesseract and tess-two is not that good, this one has a b

[2017-02-14 15:22] jonathanpalma commented on #13
@marko1943 Thank you for your support!

I'm looking for the best way to include whitelists and blacklists considering that many people who use [tesseract.js](https://github.com/naptha/tesseract.js) for web & node environment would like to use this for react-native since tesseract.js doesn't support it for now.

[code]

[Tesseract.js - react-native support](https://github.com/naptha/tesseract.js/is

[2017-02-14 16:10] marko1943 commented on #13
I might be understanding this wrong, but your plugin is actually wrapping the tess-two library, [TessBaseApi](https://github.com/rmtheis/tess-two/blob/master/tess-two/src/com/googlecode/tesseract/android/TessBaseAPI.java)

You're basically using a getUTF8() method to recognized text (the Ionic plugin also does this).

So looking at the TessBaseAPI, I'm not sure I understand you but wouldn't it be

[2017-02-14 17:56] marko1943 commented on #13
by the way - everything was working just fine yesterday, today I keep getting this error
https://github.com/facebook/react-native/issues/11389

tried upgrading your project to 0.40+ but it didn't work and I'm already wasting too much time debugging something that shouldn't even exist in the first place -> it's not your fault it's reacts' lol, it's kinda buggy framework

[2017-02-16 20:14] iancanderson commented on #13
@marko1943 Hi, I saw this because you linked to the issue on RN - it's fixed in `0.39.2`, so no need to upgrade to `0.40.0`: https://github.com/facebook/react-native/compare/v0.39.0...v0.39.2

[2017-02-18 02:23] marko1943 commented on #13
@iancanderson  thanks for the reply, I'm kind of too busy on other things so I've put this on hold.
Well, the version of this [example](https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/tesseractOcrSample/package.json) is  "react-native": "^0.33.0"

the weird thing was that i worked 1 day and the next it wasn't - cant remember doing anything worthy that would make that happen

[2017-02-19 19:17] AnotherHermit commented on #10
I solved this issue by simply removing 'file://' from the start of the path returned from the react-native-camera component.

[2017-02-27 22:06] peacechen commented on #8
How about a pure Javascript version of Tesseract?  That would support both Android and iOS.
http://tesseract.projectnaptha.com/

[2017-02-27 22:19] jonathanpalma commented on #8
Hey @peacechen it is a nice idea! But unfortunately we've been working on it for a few time without making it works for react-native.

https://github.com/naptha/tesseract.js/issues/55

[2017-02-27 22:28] peacechen commented on #8
@jonathanpalma  Thanks for exploring that and sharing the issues.  Saves some time for us trying to go down that path.  I may lend a hand for the iOS implementation in the future (date unknown, depends on work commitments).  Would you mind documenting the architecture of this project?  For instance, what methods & callbacks should be implemented.

[2017-02-27 22:46] jonathanpalma commented on #8
@peacechen You're welcome! And I'm sorry it's pretty hard work on the iOS implementation without having a mac, that's why I was working on naptha/tesseract project to bring a general solution that works everywhere.

And sure, I'm already working on the documentation while whitelist/blacklist's support is ready.

[2017-02-28 18:39] aphex3k commented on #8
Looking forward to any update on this matter. Right now, this is mostly unusable due to lacking iOS support 👎

[2017-02-28 23:25] aphex3k commented on #8
Ok, spent all day today to get this working for iOS and currently have a very hacky version of functioning for english language. I will have to look at the Android side of things to kind of match the API for iOS. I might have something presentable some time this week. Stay tuned...

[2017-03-04 04:15] jonathanpalma commented on #10
@AnotherHermit Thank you!! I just test it and as you said, it's just necessary to remove 'file://' from the start of the path returned from `react-native-camera` to make it works.

[2017-03-04 04:15] #10 closed

[2017-03-04 04:19] jonathanpalma commented on #9
Since this issue hasn't had activity in a while I close it. In the same way if someone believes that the solutions raised don't meet the requirement, feel free to reopen

[2017-03-04 04:19] #9 closed

[2017-03-21 08:26] NaleenDissanayake commented on #8
Hey, Did you finish IOS version?

[2017-03-22 14:08] gpminsuk opened #17 "[Error: Failed to read bitmap]"
Keep getting error
03-22 07:04:04.571  3226  3353 I ReactNativeJS: 'OCR Error: ', { [Error: Failed to read bitmap] framesToPop: 1, code: 'An error occurred' }

It is a simple project. react-native init, and then just installed react-native-tesseract-ocr.
And then I added text.png image in /images/ directory under project root directory and called below code in componentDidMount function.

RNTesser

[2017-03-22 19:47] mikasjoman commented on #8
Any progress on this? If not, could you share the code you have written so far? cheers

[2017-03-22 19:49] aphex3k commented on #8
it is actually merged but I currently have no time budget available to make the currently proposed changes by @jonathanpalma. So it is kind of janky right now...

[2017-03-23 04:46] NaleenDissanayake opened #18 "doesn't read properly"
I tried this in android project but it doesn't read properly. And also it reads black font only.any comments?

[2017-03-23 04:58] jonathanpalma commented on #17
You have to provide the absolute path instead the relative. You can check it out at the tesseractSample in this repo.

[2017-03-23 05:03] NaleenDissanayake commented on #18
Is there anyone tried this and work properly?

[2017-03-23 10:07] gpminsuk commented on #17
I couldn't find the example. How can I get absolute path from a static image file in the project?

[2017-04-10 07:57] arheom opened #19 "Blocks the app when running on Nexus 6p"
I have the following problem when running directly on my mobile phone (Nexus 6p):
- I am using the following code:
[code]
- Everything works good till the startOcr method. I have replaced the imgPath "file://" with "" and managed to have it going forward
- But, it never reaches then or catch when using with my mobile phone (Nexus 6p)
- It works well on my emulator (running Nexus 6p as well).

Any

[2017-04-26 10:36] kaberibasu commented on #8
By when can we expect the fully supported and running iOS version? Its very much needed.

[2017-05-22 16:11] andyhu commented on #8
Any news guys?

[2017-05-22 16:12] aphex3k commented on #8
Sorry, I don't have any time to work on this for the foreseeable future...

[2017-05-22 22:28] DavitVosk commented on #5
Hi all. I have the same issue here. I try to run this module on Android and I receive the message 'Cannot read property 'startOcr' of undefined'. console.log proves that the RNTesseractOcr is undefined. Please help to solve the problem. Thanks in advance

[2017-05-22 23:28] DavitVosk commented on #5
@jonathanpalma Also, in the installation part it is mentioned to arrange changes in MainActivity.java, but this should be MainApplication.java. Please correct this as well

[2017-05-23 00:13] DavitVosk commented on #18
hi @NaleenDissanayake. Do you still have the same problem? I work on android too. But it returns error 'Cannot read property 'startOcr' of undefined'. Could you please help me re this.

[2017-05-23 05:36] NaleenDissanayake commented on #18
Yeah I got same error too.

On Tue, May 23, 2017 at 5:43 AM, DavitVosk <notifications@github.com> wrote:

--
*Naleen Dissanayake*
071 <0779928932>0863045 | Faculty of Information Technology, University of
Moratuwa | naleenituom@gmail.com

[2017-06-02 16:11] DavitVosk commented on #18
@jonathanpalma could you please advise whether the image processing is implemented in your module?

@NaleenDissanayake I think this can solve our problem

[2017-06-02 18:35] jonathanpalma commented on #18
Hey folks!! I'm sorry that I couldn't give support to this project in these days, but due to my new work, I'm still organizing my time to continue with this project.

@DavitVosk Right now the module is not rescaling the image but I'm looking for implement [this](https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/android/src/main/java/com/reactlibrary/RNTesseractOcrModule.java#

[2017-06-02 18:52] jonathanpalma commented on #19
Hey!! I'm sorry that I couldn't give support to this project in these days, but due to my new job, I'm still organizing my time to continue with this project.

If you still can't solve this issue. Is it possible you to provide the full log when the app crashes on your device?

[2017-06-03 06:20] DavitVosk commented on #18
Het @jonathanpalma. Thanks for the answer.  Some examples like finding blocks of text in an image and rotation can be found here (https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality). Please have a look. Can I kindly ask you to include these parts in the module?

[2017-06-12 16:13] DavitVosk opened #20 "Cancel the request"
Is there an option to cancel the OCR request before it is finished?

[2017-06-12 18:34] jonathanpalma commented on #20
Thank you @DavitVosk
I'm working on a new release (for android) that includes support for black and white lists. I will consider to add this essential function to it. BTW I don't know how I hadn't thought about including that before :sweat_smile:

[2017-06-12 18:37] DavitVosk commented on #20
I am happy giving you a new idea)). Can you please say me when the new release will be ready? Also if possible can you do this before other changes

[2017-06-12 19:03] jonathanpalma commented on #20
You're welcome @DavitVosk
Let me work on that this week and I hope to publish the new release this weekend.
[Here](https://github.com/jonathanpalma/react-native-tesseract-ocr/projects/1) are the enhancements that I consider to include for this version.

[2017-06-12 20:10] jonathanpalma commented on #17
@gpminsuk I recommend you to use a tool like [react-native-image-picker](https://github.com/react-community/react-native-image-picker) to get the absolute path of the images you want to process. In the case that you're trying to use static image files maybe [this](https://willowtreeapps.com/ideas/react-native-tips-and-tricks-2-0-managing-static-assets-with-absolute-paths/) could help you

[2017-06-12 20:10] #17 closed

[2017-06-14 23:06] costabatista opened #21 "Use this project to license plate recognition"
Hi!

I need to develop a module in React Native that does license plate recognition. I'm from Brazil. Can i use this project to do this? My input is a photo from an android device.

sorry my bad English,
Thanks :)

[2017-06-14 23:18] jonathanpalma commented on #21
Hey @costabatista Don't worry I'm not an English speaker either but I hope I could help you.

As far as I know there is already an implementation of [OpenALPR for react-native](https://github.com/cardash/react-native-openalpr) which is an open source Automatic License Plate Recognition library written in C++ with bindings in C#, Java, Node.js, Go, and Python.

[2017-06-14 23:18] #21 closed

[2017-06-14 23:28] jonathanpalma commented on #21
I'm sorry I just realized that it only works on iOS.

But maybe you could ask for help to the repo's contributors or somebody in the react community group on Facebook.

I think that lib could be more useful than this for your type of project

![screenshot_20170614-172017](https://user-images.githubusercontent.com/12414771/27158781-11dcd888-5126-11e7-91e8-71ade0049129.png)

[2017-07-18 07:54] danleveille commented on #8
I wish I had the knowledge to help out with this, but I'm really looking forward to iOS support! 😄

[2017-07-20 05:17] jonathanpalma opened #22 "New project sub directory is created every time that the ocr is used"
![1](https://user-images.githubusercontent.com/12414771/28401559-eef62c70-6cd7-11e7-8e74-97c3d31b88df.jpeg)

![2](https://user-images.githubusercontent.com/12414771/28401569-fc0e1bf2-6cd7-11e7-807e-a80100e611ef.jpeg)

![3](https://user-images.githubusercontent.com/12414771/28401584-18e8120a-6cd8-11e7-9771-a2f07865c589.jpeg)

[2017-08-16 04:04] pgwzzz opened #23 "Any plan for iOS?"
Thanks for your job.

Is there any plan for iOS?

[2017-08-16 04:53] danleveille commented on #23
See #8

[2017-08-21 13:01] AnshuGoyal opened #24 "App getting crashed"
My app is getting crashing on using this module. Tried everything. Image path was also correct. Help..

[2017-08-21 15:06] jonathanpalma commented on #24
@AnshuGoyal Could you provide your Log?

[2017-09-06 04:51] aphex3k commented on #8
@jonathanpalma I want to revisit the work I contributed to finally get this working. Can you give me your feedback on what parts of the iOS work you wanted changed?

[2017-09-14 22:27] aphex3k opened #25 "Error: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference"
Running on Android 6.0.1 I get the above error
[code]
when invoking
[code]

my data object looks like this
[code]

[2017-09-29 22:13] standemchuk commented on #8
@aphex3k @jonathanpalma hey guys, any help needed to get this done faster?

[2017-10-23 08:19] EroticCode opened #26 "where i can drop file v3.04 Trained data files"
please help
i follow ......../asset/tessdata but not working android

[2017-10-23 12:47] karydja commented on #5
@diemvtt @DavitVosk I was experiencing this same issue, and in my case (Android) I need to `react-native run-android` to properly build the app

[2017-10-23 12:58] karydja commented on #26
Can you provide more info about this? For example, did you notice any errors while debugging? When I experienced this issue I had

[code]

in my console (I was running the app in my device and debugging remotely), what seems to have some relation with #22

[2017-10-23 13:27] EroticCode commented on #26
my code is fine now is working

[2017-10-25 12:40] mayank-daffodil commented on #6
Can you please describe where i have to add tessdata files (https://github.com/tesseract-ocr/tessdata/tree/3.04.00) ?

[2017-10-25 14:33] vtaseski commented on #8
Is it working now on iOS?

[2017-11-03 14:17] alburdette619 commented on #23
I don't think #8 in its current enough to help us understand what is going on.  I am very confused by the end of it all.  Is this working for iOS, yes, no, or somewhere in between?  According to the README, it doesn't, but you can install it...  very confusing.

[2017-11-18 12:51] ryangr-texthelp commented on #8
@aphex3k Was [this commit](https://github.com/jonathanpalma/react-native-tesseract-ocr/commit/d7e8668047e98c12ef3f543e6becab3da47a6255) functional? Seems like the only difference is that the API signature wasn't compatible with the Android one?

If that's the case, happy to help in getting this iOS support added.

[2017-11-18 13:14] ryan-codingintrigue commented on #8
@aphex3k Was [this commit](https://github.com/jonathanpalma/react-native-tesseract-ocr/commit/d7e8668047e98c12ef3f543e6becab3da47a6255) functional? Seems like the only difference is that the API signature wasn't compatible with the Android one?

If that's the case, happy to help in getting this iOS support added.

[2017-11-19 17:54] aphex3k commented on #8
Yes, the commit is functional.

https://github.com/aphex3k/react-native-tesseract-ocr/tree/iOS
This branch is my rewrite to bring Android and iOS more in line but I'm having trouble figuring out the Android interface to shape the iOS interface the same way so that it can be used as a true react-native module.

[2017-11-29 10:19] daominhsangvn commented on #5
I have forked the project, merged the `tessBaseApiExtra` branch and add ios implementation at this fork https://github.com/newoceaninfosys/react-native-tesseract-ocr
Please check the Readme. I have updated a little bit in my fork.

[2017-11-29 18:20] jonathanpalma commented on #5
Currently I'm living in Vancouver due to work reasons, so it's kind of hard to check this out for me, but if some of you guys @diemvtt @karydja @DavitVosk @congnguyen91 could have a look on @daominhsangvn's [fork](https://github.com/newoceaninfosys/react-native-tesseract-ocr) and give some feedback we could create a pull request

[2017-11-29 18:31] jonathanpalma commented on #8
Currently I'm living in Vancouver due to work reasons, so it's kind of hard to check this out for me, but if some of you guys @aphex3k @ryan-codingintrigue @vtaseski @pannz @standemchuk @danleveille @andyhu @kaberibasu @mikasjoman @peacechen @johnrosenbaud11 @JonathanWi @setrin @ljubic  could have a look on @daominhsangvn's [fork](https://github.com/newoceaninfosys/react-native-tesseract-ocr) and

[2017-11-29 19:18] peacechen commented on #8
Great to hear there's progress on the iOS front.  Is the sample project functional for iOS?  Would be easier to provide feedback with a running app.

[2017-12-06 01:34] jonathanpalma commented on #8
@peacechen I just updated the index.ios.js file of the sample project to make it easier to test. You could check it out [here](https://github.com/jonathanpalma/react-native-tesseract-ocr/tree/patch-1).

Don't forget to follow some steps to run the example
- [How to run the example](https://github.com/jonathanpalma/react-native-tesseract-ocr/tree/patch-1#example)
- [How to add trained data files an

[2017-12-07 15:27] pmth commented on #8
@jonathanpalma I tried to follow instruction using patch-1 branch. I got errors after trying to select a picture:

[code]

[2017-12-11 10:05] fazeelzama20 commented on #10
@AnotherHermit Getting same error, How do you remove 'file://' from the start of path? can you please help?

[2017-12-11 11:38] fazeelzama20 commented on #10
@jonathanpalma I have removed 'file://' from path, then also it is giving same error. Following is the error.
`data path /storage/emulated/0/DCIM/IMG_20171211_164757.jpg
index.js:81 [React Transform HMR] Patching ScanVIN
/src/screens/ScanVIN.map?platform=android&runModule=false&entryModuleOnly=true:85 OCR Error:  Error: Failed to read bitmap
    at createErrorFromErrorData (NativeModules.js:123)

[2017-12-11 17:36] jonathanpalma commented on #10
@fazeelzama20 are you using `react-native-camera` or  `react-native-image-picker`? Could you provide more information about how are you getting the image path?

[2017-12-12 07:07] fazeelzama20 commented on #10
@jonathanpalma I am using react-native-camera and code is shown below
`takePicture = () => {
    var path = "";
    this.camera.capture().done(function(data){
      path = data.path.replace('file://', '');
      console.log('data path', path);
    });
    //start of implementing tesseract OCR
    RNTesseractOcr.startOcr(path, "LANG_ENGLISH")
    .then((result) => {
      this.setState({ ocrResult:

[2017-12-12 12:18] fazeelzama20 commented on #19
@arheom Have you resolve the issue? Because i am also using same code and remove 'file://' from the image path. But it is not reaching to then part, it is catching error that OCR Error: Failed to read bitmap. Any help from your side will be appreciated..

[2017-12-13 12:39] fazeelzama20 commented on #10
@jonathanpalma Any suggestion please?

[2017-12-19 17:52] ziyafenn commented on #8
Fingers crossed that it will work for iOS at least for English soon :)

[2017-12-21 14:01] damianglazer opened #27 "SDK Error"
Hi
I have problem with sdk.
Do you update sdk in project?

`com.android.builder.testing.api.DeviceException: com.android.ddmlib.InstallException: Failed to finalize session : -26: Package com.example new target SDK 22 doesn't support runtime permissions but the old target SDK 25 does.`

[2017-12-27 08:12] Kaminiak commented on #25
I have the same problem :(

[2017-12-28 08:29] SpidGiarz commented on #25
Change your language string from `eng` to the corresponding language constant `LANG_ENGLISH`

Also the path should not include the file scheme so truncate it to `/data/user/0/com.scanocr/cache/IMG_20170914_1521561881209554.jpg`

[2017-12-29 01:28] cri5ti commented on #25
I've been having the same issue..

What SpidGiarz means here is to actually use "LANG_ENGLISH" as the lang:

     RNTesseractOcr.startOcr(data["path"].replace(/^file:\/\//, ''), "LANG_ENGLISH")

As a side note, I was initially trying to use RNTesseractOcr.LANG_ENGLISH instead, which is defined and returns "eng".

[2018-01-03 09:10] fivepapertigers commented on #22
@jonathanpalma FYI, this seems like it's still outstanding. 59575d8df0cf5a9488b17eadbab13a31cdac97e3 has not been merged.

[2018-01-03 17:24] #22 closed

[2018-01-03 20:01] jonathanpalma commented on #22
@fivepapertigers It's already published under v1.0.9 on npm 😄

[2018-01-22 11:32] tommydudehead commented on #8
Hey guys, any update on iOS progress?

[2018-01-23 01:28] daominhsangvn commented on #8
@tommydudehead Check my fork https://github.com/newoceaninfosys/react-native-tesseract-ocr Make sure you read Readme carefully

[2018-01-23 15:12] tommydudehead commented on #8
@daominhsangvn thanks for the reply. I have followed the readme very carefully. Unfortunately I get errors when trying to launch the sim. Specifically:

node_modules/react-native-tesseract-ocr/ios/RNTesseractOcr.h:3:9: fatal error: 'TesseractOCR/TesseractOCR.h' file not found
#import <TesseractOCR/TesseractOCR.h>
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.

I have previously fixed ano

[2018-01-23 19:20] tommydudehead commented on #8
Four hours later and I have managed to get a Build Succeed within Xcode.

However, whenever I run the following code...

`RNTesseractOcr.recognize(imgPath, lang, tessOptions)
  .then((result) => {
    this.setState({ ocrResult: result });
    console.log("OCR Result: ", result);
  })
  .catch((err) => {
    console.log("OCR Error: ", err);
  })
  .done();`

 it crashes with the red screen on the i

[2018-02-05 11:30] darkdoctor opened #29 "Cannot use OCR"
Hello to all.

I just downloaded the example and did:

- npm install
- npm link
- react-native link

also, I had an issue because the mainapplication.java inside of library was overriding a method which does not derive from superclass, I just commented override keyword so i can compile it.

The below code never executes .then(result) or .catch(err)
`  RNTesseractOcr.recognize(path, 'LANG_ENGLISH',

[2018-02-07 16:39] ziyafenn commented on #8
Don't understand why iOS is completely ignored. There are even no tasks/issues or so to help the project going further.

[2018-02-07 19:11] MeKyleH commented on #8
Can someone write a quick summary of where this issue is and what needs to be done so we can help out as necessary?

[2018-02-08 02:08] MeKyleH opened #30 "Working with Expo"
Does this project or will this project work with Expo? I'm building my app in Expo and the setup guide says I need to add things in xCode and the Android Manifest file. I'm not familiar with that process since I use Expo so I'm curious if this does or will work with Expo in the future. Thanks!

[2018-02-14 22:08] dcherniy commented on #30
This will not work on expo. You need to eject out of `create-react-native-app`
Read the tab titled **Building Projects with Native Code**:
[https://facebook.github.io/react-native/docs/getting-started.html](url)

[2018-02-24 20:16] guitar9 opened #31 "OCR Example App"
hi,
i tried to run the example app. I take a photo, but the spinner is always loading. It doesnt get ready. Why?

[2018-02-24 21:13] jonathanpalma commented on #31
Hi @guitar9

I have noticed that it happens because of the size of the image you're trying to analyze. I'm not sure if there is an open issue related to handle this

[2018-03-07 00:46] jonathanpalma commented on #27
Hey @dazer91

I'm sorry for taking so long to answer but I've been pretty busy with some work stuffs. Could you please let me know if you already solved this?

[2018-03-07 01:03] jonathanpalma commented on #29
Hey @darkdoctor

I'm sorry for taking so long to answer but I've been pretty busy with some work stuffs.

This module only supports the languages previously defined on the [Usage section](https://github.com/jonathanpalma/react-native-tesseract-ocr#supported-languages). (But yes, I should have a look at the exception that is being throwed)

`RNTesseractOcr.recognize(path, 'LANG_ENGLISH', tessOption

[2018-03-07 01:07] jonathanpalma commented on #31
Hi @guitar9

I'm closing this issue but you can follow it up on #29

[2018-03-07 01:07] #31 closed

[2018-03-07 01:17] jonathanpalma commented on #30
Hi @MeKyleH

I'm sorry for taking so long to answer but I've been pretty busy with some work stuffs. As @dcherniy said it's not working on expo, in this case you'll need to eject your project in order to use it.

[2018-03-07 01:17] #30 closed

[2018-03-07 06:18] dazer91 commented on #27
Hi @jonathanpalma
No, I'm waiting for you. I have tesseract-ocr in feature. If you upgrade sdk I will be grateful.

[2018-03-09 08:45] ghost opened #35 "output is not correct in android"

[2018-03-09 12:54] jonathanpalma commented on #35
Could you please provide more information about this?

[2018-03-12 11:23] 15011120064 opened #36 "Error: Data file not found at /storage/emulated/0/com.dvastarter/tessdata/eng.traineddata at createErrorFromErrorData (blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:3663:17) at blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:3615:27 at MessageQueue.__invokeCallback (blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:4057:18) at blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:3802:18 at MessageQueue.__guardSafe (blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:3970:11) at MessageQueue.invokeCallbackAndReturnFlushedQueue (blob:http://localhost:8081/b8ee2c8d-43f7-44e7-98c8-695305b775bf:3801:14) at http://localhost:8081/debugger-ui/debuggerWorker.js:72:58 {framesToPop: 1, code: An error occurred, stack: Error: Data file not found at /storage/emulated/0/…ocalhost:8081/debugger-ui/debuggerWorker.js:72:58, message: Data file not found at /storage/emulated/0/com.dvastarter/tessdata/eng.traineddata}"

[2018-03-13 03:53] #36 closed

[2018-03-19 15:30] mokhtars opened #37 "Build error"
Hi when i run the run-android command i have this error

What went wrong:
Execution failed for task ':react-native-image-picker:processReleaseResources'.

[2018-03-19 19:00] jonathanpalma commented on #37
Hi @mokhtars

Did you run the command inside the tesseractOcrSample's directory?

If yes, please try to update your node_modules and run `cd android && ./gradlew clean` and let me know if that works for you.

[2018-03-20 09:32] mokhtars commented on #37
Hi @jonathanpalma
it had fixed the probleme, thank you for your help

[2018-03-20 11:55] nu5rim3 opened #38 "any update with IOS ?"

[2018-03-21 20:29] jonathanpalma commented on #37
@mokhtars you're welcome!

[2018-03-21 20:29] #37 closed

[2018-03-22 14:41] vitor504 opened #39 "Undefined is not a function"
Hi,

I am trying to implement this in a project I am doing and I can't run it. It always shows me this error:

![screenshot_20180322-143702](https://user-images.githubusercontent.com/34678113/37777222-ef76a59e-2dde-11e8-99d7-6aa67ab25019.png)

I did all the steps you specified to use this but I can't seem to be able to get this to work.

Hope you can help and thanks in advance.

[2018-03-22 14:43] jonathanpalma commented on #39
@vitor504 Could you please provide some code of your implementation?

[2018-03-22 14:48] vitor504 commented on #39
I have this in my main file:

RNTesseractOcr.recognize(source, 'LANG_ENGLISH', tessOptions)
                  .then((result) => {
                      this.setState({ ocrResult: result });
                      console.log("OCR Result: ", result);
                  })
                  .catch((err) => {
                      console.log("OCR Error: ", err);
                  })

[2018-03-22 14:53] vitor504 commented on #39
I just created a simple project and executed all the steps you specified to make this work on my project but I just dont know if I am missing a file or something like that.

[2018-03-26 07:37] #39 closed

[2018-04-21 19:44] neilkuumar commented on #8
anyone got an update on how to get this working?

[2018-04-23 09:24] neilkuumar commented on #8
I got it working using one of the other users forks from above:

https://github.com/newoceaninfosys/react-native-tesseract-ocr

However it can be a bit slow and performance varies on an iPhone - I will need to play around with the GPUImage settings to see if I can get better results

[2018-04-23 14:55] ziyafenn commented on #8
@neilkuumar Crazy!! Please keep us updated <3

[2018-04-27 03:52] goleador0322 commented on #8
GOD!!!

[2018-05-02 02:27] AmaruNozomi commented on #11
Hello, I have the same issue right now.
In which location I can change the Image Picker options for height and weight?
Thank you in advance

[2018-05-10 22:37] allthetime commented on #8
BUMP. But really, as others have pointed out, it's a little confusing that it says iOS is not supported, but there are installation instructions... What's the current situation? And also, what would it take to complete iOS support, I'm sure some people would be willing to help.

[2018-05-14 18:10] lorekadam opened #40 "RNTesseractOcr is undefined"
Hello,
I have expo app. I've detatched project to get Android files. After, I used link command.
Now in my MainApplication.java i have proper code lines for import and returning new RNTesseractOcrPackage(). Now when i'm trying to use it in my app RNTesseractOcr is undefined.  I have proper impoer statement and it is still not working, please help.

[2018-05-16 08:53] Rananjaya opened #41 "Error: Data file not found at /storage/emulated/0/com.ocr/tessdata/eng.traineddata"
Error: Data file not found at /storage/emulated/0/com.ocr/tessdata/eng.traineddata

[2018-05-16 08:54] Rananjaya commented on #35
I have same issue.

[2018-05-17 07:53] wayne1203 commented on #8
@tommydudehead Hi, how can you fixed the "#import <TesseractOCR/TesseractOCR.h>" error?
I got this error even I using the example project.

[2018-05-29 09:03] houdzaiw opened #42 "undefined is not an object (evaluating '_reactNativeTesseractOcr2.default.recognize')"
iOS Error after selecting picture
 undefined is not an object (evaluating '_reactNativeTesseractOcr2.default.recognize')

[2018-06-07 00:55] gmaggess opened #43 "TesseractOCR/TesseractOCR.h Not found"
This issue has been filed before [here](https://github.com/gali8/Tesseract-OCR-iOS/issues/6), but I wondering if anyone has faced this issue lately.

I'm using RN 0.55.4 and react-native-tesseract-ocr 4.0.0.

[code]

[2018-06-07 20:13] givik commented on #41
You have to add trained data files into `android/app/src/main/assets/tessdata`.

[2018-06-08 09:15] Rananjaya commented on #41
I put traing data in  android/app/src/main/assets/tessdata but issue is same.

[2018-06-08 10:32] #41 closed

[2018-06-16 18:22] scribblink commented on #42
I have not found a solution but the issue is that react-native-image-picker does not have path node in response object on ios.

[2018-06-30 11:02] imran1992 commented on #35
Yes. I have too. :(
I want to recognize LANG_ENGLISH.
I just copy one file `eng.traineddata` to `MyRNApp\android\app\src\main\assets\tessdata`.

[2018-07-12 10:47] liyyil opened #44 "OCR Blocking the UI"
Seems RNTesseractOcr is blocking the UI.

I tried with TesseractOcrSample you have provided, 'cancel recognition' Button not respond.
(it should be able to run in background)

[2018-07-28 20:31] Saerdn opened #45 "RNTesseractOcr is undefined after import"
Hey,

I managed to get react native tesseract ocr run for iOS. But: When I use your example I can't use RNTesseractOcr as it is still undefined after I imported it:
import RNTesseractOcr from 'react-native-tesseract-ocr';
Does anyone has a clue how to proceed here?

Probably the same issue [here](https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/40) but this time it's with iOS.

[2018-07-31 14:13] ziyafenn commented on #8
@neilkuumar is that fork still works for you?

[2018-08-24 09:15] JKLTechno commented on #42
+1
Same issue for me also

[2018-09-01 15:13] guitar9 opened #46 "Math formulas"
is it possilble to use it with math formulas? Or should i train my own data?

[2018-09-07 02:22] Altercode99 opened #47 "Error : Data path does not exist"
What this can happened ?

this is my code

`takePicture = async function() {
        if (this.camera) {
            const options = { quality: 0.5, base64: true };
            const data = await this.camera.takePictureAsync(options)
            console.log(data.uri);
            this.setState({path: data.uri});
            const tessOptions = {
                whitelist: null,
                blac

[2018-09-08 22:47] RukaiJohn opened #48 "Getting original text from image"
I don't need the text to translate to a different language, but is there a way to only just get the text from the image?

[2018-09-18 12:40] muhammadnasir786 commented on #47
same here ! +1

[2018-09-22 10:06] jkaluzka commented on #43
Did you install pod and install dependencies?
You need to add
`pod 'TesseractOCRiOS', '4.0.0'`

to your pod file and run

`pod install`

[2018-10-14 22:07] SimoneMSR opened #49 "Incompatibility with image-picker@latest"
My package.json

[code]

Using this dependency
`com.android.tools.build:gradle:2.2.3`

When I run
`react-native run-android`
I get this error
**`Could not expand ZIP 'D:\Progetti\Vari\ReceiptScannerTesseract2\node_modules\react-native-image-picker\android\build\outputs\aar\react-native-image-picker-release.aar`**

Which image-picker version shoul I use instead?

[2018-10-17 19:03] paulohlips commented on #42
I have the same problem, some solution?

[2018-11-19 06:47] Josh-Rosen commented on #42
I'm having the same issue.  Are any of you using Expo?

[2018-12-24 03:47] httol commented on #43
I have installed the pod 'TesseractOCRiOS', '4.0.0',but still have this error

[2018-12-24 07:33] httol commented on #42
Same issue for me, any solutions?

[2019-01-05 18:17] eshantbist opened #50 "returning error OCR Error:{"framesToPop":1,"code":"An error occured"}"
Please help me out. I am gettting this error while in catch.

[2019-01-09 11:07] anagar23 commented on #8
@daominhsangvn , I tried with all your steps, project successfully compiled but at the time of launching app it throws runtime crash. Following log I found in Xcode:

dyld: lazy symbol binding failed: can't resolve symbol ___cxa_guard_acquire in /Users/amitnagar/Library/Developer/CoreSimulator/Devices/605F8113-1EB3-4391-B93B-23D1BE432DBF/data/Containers/Bundle/Application/9416CFAF-35E6-4D0C-9E39-9

[2019-01-10 06:02] anagar23 opened #52 "PDF support"
Is there any plan to support PDF Docs ?

[2019-01-15 03:17] jonathanpalma commented on #52
No, sorry but there is not

[2019-01-15 03:17] #52 closed

[2019-01-15 03:43] jonathanpalma commented on #8
Hi everyone,

Considering that this project does not have a solid support for iOS, I would like you to try the following link and help me create a specific list about the tasks that must be done to improve the functionality. as the usability of this library.

tag: @anagar23 @dilipchandima @ziyafenn @Rafah-Mehfooz @wayne1203 @allthetime @peacechen @goleador0322 @neilkuumar @MeKyleH @tommydudehead @

[2019-01-15 03:51] jonathanpalma commented on #49
Hi @SimoneMSR,

I just updated the example a few days ago.

[code]

so, with that it should be fine.

FYI: [https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/examples/RNTesseractOcrExample/package.json#L13](https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/examples/RNTesseractOcrExample/package.json#L13)

[2019-01-15 03:51] #49 closed

[2019-01-15 03:56] jonathanpalma commented on #47
@Altercode99 @nasir03082409229  @dass2808 could you please provide the name and the version of the library that you're using to take the picture?

[2019-01-15 04:02] jonathanpalma commented on #48
@RukaiJohn could you please provide more information about this issue?

[2019-01-15 04:18] jonathanpalma commented on #46
Even though it may work sometimes, it would work better if you provide it your own trained data for your use case.

Doing some research I found these [data files](https://github.com/tesseract-ocr/tesseract/wiki/Data-Files) that may help you. You can try them using `LANG_CUSTOM` and naming the trained data file as `custom.traineddata`

[2019-01-15 04:18] #46 closed

[2019-01-15 04:20] jonathanpalma commented on #5
To have a better tracking of the iOS implementation process please follow this thread #8

[2019-01-15 04:20] #5 closed

[2019-01-15 04:20] jonathanpalma commented on #45
To have a better tracking of the iOS implementation process please follow this thread #8

[2019-01-15 04:20] #45 closed

[2019-01-15 04:21] jonathanpalma commented on #23
To have a better tracking of the iOS implementation process please follow this thread #8

[2019-01-15 04:21] #23 closed

[2019-01-15 04:37] jonathanpalma commented on #44
@liyyil you are right it's blocking the main thread. In order to solve this issue, recognize method should use `AsyncTask` to run in background.

[2019-01-19 07:35] khjde1207 commented on #50
I just tested it.
I had an error due to the path.

[code]

[2019-01-25 09:19] vinsonxing commented on #43
Add one more path in Header Search Paths for the project 'RNTesseractOcr.xcodeproj'.

$(SRCROOT)/../../../ios

[2019-02-04 07:50] SwagatRanjit84 commented on #48
@jonathanpalma how to give image path?
./images/pic.jpg or  /storage/DCIM/citizenship.jpg?

[2019-02-04 08:02] jonathanpalma commented on #48
@SwagatRanjit84 have you tried to use [react-native-image-picker](https://github.com/react-native-community/react-native-image-picker)?

[2019-02-04 08:05] SwagatRanjit84 commented on #48
Nope. I was directly giving url of image! Inside OCR project, there is image folder and inside it, there is pic.jpg image!! I want to use that image, how to give path?

[2019-02-04 08:14] jonathanpalma commented on #48
@SwagatRanjit84 have you tried using `require('./images/pic.jpg')`?

[2019-02-04 08:20] SwagatRanjit84 commented on #48
@jonathanpalma yes. It returned: java.lang.Double cannot be cast to java.lang.String

[2019-02-04 08:21] SwagatRanjit84 commented on #48
On using const imgPath = "require('./images/pic.jpg')"; :

OCR Error:  Error: Data path does not exist!
    at createErrorFromErrorData (C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:146)
    at C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:95
    at MessageQueue.__invokeCallback (C:\reactnativeapp\ocr\node_modul

[2019-02-08 03:46] SwagatRanjit84 commented on #47
@idgafl7 Have you solved the issue?

[2019-02-08 03:47] SwagatRanjit84 commented on #48
@jonathanpalma Any solution?

[2019-02-08 05:46] SwagatRanjit84 commented on #47
OCR Error:  Error: Data path does not exist!
    at createErrorFromErrorData (C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:146)
    at C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:95
    at MessageQueue.__invokeCallback (C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\MessageQueue.js:414

[2019-02-08 05:47] SwagatRanjit84 opened #53 "Error: Data path don't exist, even if data path is correct"
OCR Error:  Error: Data path does not exist!
    at createErrorFromErrorData (C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:146)
    at C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:95
    at MessageQueue.__invokeCallback (C:\reactnativeapp\ocr\node_modules\react-native\Libraries\BatchedBridge\MessageQueue.js:414

[2019-02-11 11:20] nasir03082409229 commented on #47
@jonathanpalma I am Using react-native-camera for taking picture

[2019-02-12 01:16] SwagatRanjit84 commented on #47
@nasir03082409229 What should be the data path? file:///storage/emulated/0/documents/a.jpg  or var RNFS = require('react-native-fs');
  const imgPath ='file://' + RNFS.DocumentDirectoryPath + '/a.jpg'
DIdn't work for both cases

[2019-02-12 01:21] SwagatRanjit84 commented on #19
@fazeelzama20 @arheom Did you guys solved the issue? I had same issue, file:///storage/emulated/0/documents/a.jpg is the datapath I am using but didn't work

[2019-02-18 12:51] chetankotkar commented on #53
same error. Any solutions ?

[2019-02-18 23:25] SwagatRanjit84 commented on #53
@chetankotkar Didn't find the solution. I tried with image inside the project structure and used require('./img.png'). Also with the correct datapath of image inside phone gallery. Didn't work either

[2019-02-19 10:12] chetankotkar commented on #35
same issue am facing .. I am getting output like below..

[2019-02-19 15:36:07.843 21999-22040/com.contentreader E/RNTesseractOcr: g —z é
    , g a ’
    g. a." u»
    z a ‘g
    pan
    u m
    a in “an
    an m"“‘\
    Oabwiz
    S zézwai
    ‘Q °~~
    a susitnz“
    ﬂ  §E£ia](url)

[2019-02-19 11:42] chetankotkar commented on #11
Hello, I have image of width:4160 and height:3120  I get the very poor result like below..
[WTWW .2; i“: 1.,
    m a s g
    WW 1;; 0-; .. {
    t; 0 ‘4‘ ‘ *1'
    Q: a ‘ ,9 3?,
    F o "' '
    -- s:

    8 v .
    9 9 3 N 8
    . O . N '5 M Q 3: O '
    ‘ '- -; ‘ (D O _
    _ Mi](url)

can you please help. i cant find the cause of poor output.

[2019-02-25 07:19] well012 opened #54 "anyone use the demo on ANDROID ？does it work?"
I  copy eng....to the right place. and use the ENGLISH to recoglize.  but when it picked the pickture,it would drop out of the app

[2019-03-01 09:07] SwagatRanjit84 commented on #54
@well012  Did it catch data path?

[2019-03-01 09:19] SwagatRanjit84 commented on #47
@nasir03082409229  @jonathanpalma  @Altercode99 @dass2808  @idgafl7 @aphex3k
Has anyone got this problem solved out?

[2019-03-05 07:57] SwagatRanjit84 commented on #8
@peacechen  Is it working on android?

[2019-03-05 17:52] peacechen commented on #8
This library was originally developed for Android.  It's been a while since I've tried it, but it was working.

[2019-03-06 01:24] SwagatRanjit84 commented on #8
@peacechen  Can you share the code? I was having error of "Data Path doesn't exist".
Data path is : file:///storage/emulated/0/documents/a.jpg which is absolutely correct
Inside document folder there is an image called "a.jpg" still there is error

[2019-03-06 12:28] ashvinramana opened #55 "App getting crashed when use LANG_CUSTOM"
I have to translate the Gujarati language text, So i change to LANG_CUSTOM in  `RNTesseractOcr.recognize`, and add `custom.traineddata` into `android/app/src/main/assets/tessdata`.
Now when I try to pick Gujarati text image the app is crashed.

[code]
[code]

Please help me,

Thanks in advance

[2019-03-06 22:27] antonbelev commented on #47
I'm having the same issue.

[2019-03-07 10:37] omair2010 opened #56 ":app:installdebug error"
Hi i followed all the steps

![image](https://user-images.githubusercontent.com/32815467/53950622-ddc9b280-40cc-11e9-9be2-37d53489718a.png)

i was waiting more than 25 min also no result

and also the apk file size is more than 500 MB

![image](https://user-images.githubusercontent.com/32815467/53950720-19647c80-40cd-11e9-9f05-a2c9f5872fdd.png)

also my code is easy and understood!
![image](https:

[2019-03-07 10:48] alexalv commented on #42
I was able to solve my problem by removing expo and using pure react-native. Sadly I had to rewrite parts which were using expo, as `expo eject` generated android app that produced strange compile and runtime errors (this one for example https://forums.expo.io/t/cannot-run-on-android-device/11160)

I suppose problems in my case happened because the native part of the library was not compiled and/o

[2019-03-07 11:20] omair2010 commented on #56
I updated the issue with the final result plz help me i need ocr for my end of studies project :'(

[2019-03-09 19:48] anapetrescu commented on #47
Same here. Has anyone solved this problem?

[2019-03-18 15:52] ziyafenn commented on #53
@SwagatRanjit84 still nothing?

[2019-03-18 15:54] ziyafenn commented on #47
Still no idea why this is happening?

[2019-03-19 03:31] SwagatRanjit84 commented on #53
@ziyafenn  No idea man, whats going on? DId you solve it?

[2019-03-21 10:25] ziyafenn commented on #53
@SwagatRanjit84 should post the fix tomorrow.

[2019-03-21 11:07] SwagatRanjit84 commented on #53
@ziyafenn fast as possible

[2019-03-24 17:10] nasseh101 commented on #47
same here

[2019-03-24 17:49] nasseh101 commented on #53
getting the same error

[2019-04-05 09:00] shiprasharma12 commented on #50
I am getting same error. when I run it on android device ,it is returning

** returning error OCR Error:{"framesToPop":1,"code":"An error occured"} **

Please provide any updation on the issue.

[2019-04-05 09:06] shiprasharma12 commented on #43
I am getting same error. when I run it on iOS device   ,it is returning

***** TesseractOCR/TesseractOCR.h Not found  ****
in RNTesseractOcr.h file.

#import "RCTBridgeModule.h"
**#import <TesseractOCR/TesseractOCR.h>**

@interface RNTesseractOcr : NSObject <RCTBridgeModule, G8TesseractDelegate>
@end

Please provide any updation on the issue.

[2019-04-18 11:17] shiprasharma12 commented on #35
Hello Guys,

In Android build using react native, the OCR is not returning the expected result.

Please provide your inputs so that I can move further in this module as I'm stuck with this issue.

Thanks,
Shipra Sharma

[2019-05-06 07:14] shahrajitechnotion commented on #43
replace
#import "RNTesseractOcr.h"
To
#import "RNTesseractOcr.h"

[2019-05-06 07:34] shahrajk opened #57 "cannot read property 'recognize' of undefine in ios"
![Screenshot at May 06 13-01-55](https://user-images.githubusercontent.com/45192049/57211814-4070f900-6fff-11e9-8b75-b10f21823812.png)

this error shows after selecting the image on the library.
in android is work fine but in ios throw this error.

extractText(imgPath) {
    console.log('image---->>>>>>', imgPath)
    Ocr.recognize(imgPath, 'LANG_ENGLISH', tessOptions)
      .then((res) => this.se

[2019-05-08 08:26] tuicodemobile commented on #42
I face same issue.
I think problem is React-native can not connect to native, so can not found recognize funtion.

[2019-05-08 10:07] losheredos opened #58 "Cannot find protocol declaration for 'G8TesseractDelegate'"
I installed package with required steps such as installing pods and linking but still getting this error. I have no idea how to solve it.
This error occurs in RNTesseractOcr.xcodeproj/RNTesseractOcr.h/RNTesseractOcr

#import "RCTBridgeModule.h"
#import "RNTesseractOcr.h"

@interface RNTesseractOcr : NSObject <RCTBridgeModule, G8TesseractDelegate>

@EnD

any ideas how to solve it?

[2019-05-09 00:35] matikups commented on #43
Tried @shahrajk solution, but didn't work.
Any other suggestions?

[2019-05-09 05:12] shahrajk commented on #57
Not Now. but I am trying to found out any solution @tuicodemobile

[2019-05-09 05:15] shahrajk commented on #58
Replace this code with below my code

#import "RCTBridgeModule.h"
#import "RNTesseractOcr.h"

@class G8TesseractDelegate;
@protocol G8TesseractDelegate <NSObject>

@end

@interface RNTesseractOcr : NSObject <RCTBridgeModule, G8TesseractDelegate>

@end

this helps you to run the project successfully.
@losheredos

[2019-05-09 05:33] shahrajk commented on #43
using my solution you got the same error or any other error.
@matikups

[2019-05-09 05:40] losheredos commented on #58
It removed that error bug now I get another error.

Showing Recent Issues
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2019-05-09 05:56] shahrajk commented on #58
What is your Xcode version?
and please try to delete path in the Library search path.

![image](https://user-images.githubusercontent.com/45192049/57430378-20cf1000-724d-11e9-81fe-4293293705f0.png)

[2019-05-09 06:00] shahrajk commented on #58
After that still, you get an error then try to delete Drivedata folder.
Then Clean build Folder and run the project

[2019-05-09 06:14] losheredos commented on #58
My version 10.1, I try now but looks like wont work, this looks like connected with react-native-image-picker but.. strange

[2019-05-09 06:17] shahrajk commented on #58
Try once above solution after that if you got the same error or any other then we can work on it.
@losheredos

[2019-05-09 06:19] shahrajk commented on #58
and in info.plist file you can provide required permission for image picker and camera?
@losheredos

[2019-05-09 06:24] losheredos commented on #58
Yeah I have provided these,

why should I delete paths? Actually I deleted Image picker path but i still get the same error. Also I have required permissions for image-picker. Maybe Pods cause this issue, because I linked image-picker automatically so, instead I could try manual linking.

[2019-05-09 06:30] shahrajk commented on #58
During automatically linking and manually linking someplace generate the same file more than one that's why this error generated I think.so check

 **build phase -> link binary with libraries**

@losheredos

[2019-05-09 06:32] shahrajk commented on #58
you can work on this cloning project or any other project?
@losheredos

[2019-05-09 06:52] losheredos commented on #58
I need to integrate it to my project, OK now I'm trying all, and if It wont work, I will create the project again and apply this steps and let you know. Thank you :)

[2019-05-09 07:32] shahrajk commented on #58
Welcome
and I suggest you try first in clon project bcoz there is many more issue I facing still.
it's pretty good work in android but not in ios.

Thank you
@losheredos

[2019-05-09 07:55] losheredos commented on #58
Thank you too! I installed again and did all steps to add this package to my project now I'm getting error in Xcode console:

[code]

[2019-05-09 08:42] shahrajk commented on #58
I only suggest you don't do anything in your project just download clone project and try to run that project if everything works fine on this cloning project. then start implementation in your project.
@losheredos

[2019-05-09 08:49] losheredos commented on #58
Ok yeah I see that you are right about it, I will try it. Thank you!

[2019-05-09 17:37] nasseh101 commented on #58
@losheredos add this to your pod file
`    pod 'TesseractOCRiOS', :git => 'git://github.com/parallaxe/Tesseract-OCR-iOS.git', :branch => 'macos-support'
`

[2019-05-10 06:39] SwagatRanjit84 commented on #31
@guitar9  Can you give your working code of OCR?

[2019-05-10 06:44] SwagatRanjit84 commented on #41
@Rananjaya  Can you share your code?>

[2019-05-10 08:23] SwagatRanjit84 commented on #47
Anyone found the solution?

[2019-05-10 09:25] SwagatRanjit84 commented on #53
@ziyafenn  @nasseh101 Any solutions found?

[2019-05-10 13:00] shahrajk commented on #57
did you find out any solution or anything else?
@tuicodemobile

[2019-05-12 02:18] SwagatRanjit84 commented on #26
@karydja @EroticCode
 Is this working on your side? WHere to drop train files?

[2019-05-12 02:21] SwagatRanjit84 commented on #47
@ziyafenn Where to drop those trained files?

[2019-05-19 15:55] vmvini commented on #47
I had the error 'Data path does not exist' when I was using the lang parameter as 'LANG_PORTUGUESE'.
I changed the lang parameter to RNTesseractOcr.LANG_PORTUGUESE and it worked, but I got another
error: '"Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference"'
I think this second error is due to the way Im requesting my image
`
import RNTessera

[2019-05-20 02:05] vmvini commented on #53
I had this same error 'Data path does not exist'. When investigating the source code, this error is thrown by the TessBaseAPI.init(String datapath, String language)  method, so its not related to the image path, its related to the tessdata path.

init is called as tessBaseApi.init(DATA_PATH, getConstants().get(lang).toString());
DATA_PATH is defined on the class RNTesseractOcrModule in this line:

[2019-05-20 02:06] vmvini commented on #47
I had this same error 'Data path does not exist'. When investigating the source code, this error is thrown by the TessBaseAPI.init(String datapath, String language)  method, so its not related to the image path, its related to the tessdata path.

init is called as tessBaseApi.init(DATA_PATH, getConstants().get(lang).toString());
DATA_PATH is defined on the class RNTesseractOcrModule in this line:

[2019-05-21 04:34] bernzJ commented on #47
I ran into this,
**Solution**:
Give your installed app the storage write permission either directly into your emulator/phone app's permission manager or throughout gradle/app intents.

[2019-06-01 06:56] mahdibarati opened #59 "my app Crashed EveryTime I Use RNTesseractOcr.recognize"
my app Crashed EveryTime I Use  RNTesseractOcr.recognize.
this is my code:

	ImagePicker.openCamera({
			cropping: false,
			compressImageMaxWidth: 1600,
		}).then(image => {
			console.log(image);
			const imagePath = image.path;
			this.setState({
				url: imagePath
			});
			const tessOptions = {
				whitelist: null,
				blacklist: '1234567890\'!"#$%&/()={}[]+*-_:;<>'
			  };
			  path = imageP

[2019-07-29 09:07] zahidahmed024 opened #60 "base64 support ??"

[2019-07-29 20:49] #60 closed

[2019-08-08 09:37] hapSa000 opened #61 "OCR error Error: Failed to read bitmap"
OCR error Error: Failed to read bitmap
    at createErrorFromErrorData (E:\reactNativeProjects\MassFrame\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:152)
    at E:\reactNativeProjects\MassFrame\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:104
    at MessageQueue.__invokeCallback (E:\reactNativeProjects\MassFrame\node_modules\react-native\Libraries\Batch

[2019-08-26 06:49] yigerendehaotianqi commented on #61
I have encountered the same problem, have you solved it?

[2019-09-12 02:46] lincdh opened #62 "React/RCTDefines.h' file not found"
I have added pod 'TesseractOCRiOS', '4.0.0' in the Podfile and pod install it in ios folder but getting this error.

[2019-09-12 04:10] kyniema4 commented on #61
same here
have some solution to fix it?

[2019-09-30 07:21] broros opened #63 "how to Implement whitelist?"
Implement whitelist (List of characters you want to detect)

is there an API for this?

[2019-10-01 00:14] broros opened #64 "error React Native CLI uses autolinking for native dependencies"
[code]

[2019-10-01 00:23] broros opened #65 "** BUILD FAILED ** PHONEOS_DEPLOYMENT_TARGET"
[code]

[2019-10-01 03:43] broros opened #66 "** BUILD FAILED **"
Need an update for Xcode 11

[code]

[2019-10-08 10:21] sinaazimii commented on #10
hey , i am having the same issue but my problem is the path that RNCamera gives me is this and when i try to reach the picture on my phone there is no files in that directory !

file:///data/user/0/com.imageprocessing/cache/Camera/34268a90-bacd-4d47-9cb9-e0e03e4ab610.jpg

 how should i change that to DCIM folder ?

[2019-10-12 07:58] darshil commented on #65
Hey, I think the new iOS 13 update might be causing this. You have to update the iPhone Deployment Target through the `.xcodeproj` file

[2019-10-18 00:31] broros commented on #65
no that's not why it failed,  something to do with xcode 11

[2019-10-18 00:31] #65 closed

[2019-10-18 00:32] #63 closed

[2019-10-31 18:25] lutakyn commented on #66
This library has never worked for me on iOS, getting React/RCTDefines.h file not found

[2019-10-31 18:27] lutakyn commented on #8
This library has never worked for me on iOS, getting React/RCTDefines.h file not found

[2019-11-26 14:11] sytolk opened #67 "tess-two project is Archived"
https://github.com/rmtheis/tess-two
its need to update native Android dependencies according to https://github.com/alexcohn/tess-two

[2019-12-12 05:00] YeisonVelez11 opened #68 "OCR path invalid (?)"
I am using react-native

this is my file generated by (react-native-camera)

file:///data/user/0/com.testproject/cache/Camera/75e0563e-d2c8-47b5-928b-b6d5be8c13c1.jpg

    uri=file:///data/user/0/com.testproject/cache/Camera/75e0563e-d2c8-47b5-928b-b6d5be8c13c1.jpg

       RNTesseractOcr.recognize(uri, 'LANG_ENGLISH',     tessOptions)
        .then(result => {`

[2019-12-17 07:47] minh-dai opened #69 "null is not an object (evaluating '_reactNativeTesseractOcr.default.recognize')"
"react": "16.9.0",
"react-native": "0.61.5",
"react-native-text-detector": "0.0.6"

[2019-12-20 11:54] shahidansari20178 commented on #69
I've facing same issue please anyone have solution.

[2020-01-06 03:21] ducnmisbk commented on #66
1. Go to Project navigator > Libraries > RNTesseractOcr.xcodeproj
2. Click on Build Settings and then the first item under "Targets"
3. Search to edit the 'Header Search Paths'
4. Add the following entry (click '+'): ${SRCROOT}/../../../ios/Pods/Headers. Make sure to set it to recursive.
5. Clean (cmd + shift + K) and re-build (cmd + B)

[2020-01-08 07:01] ducnmisbk commented on #69
try my fork: https://github.com/ducnmisbk/react-native-tesseract-ocr

[2020-01-10 08:27] Sosmot commented on #55
Happened with me too.

To make sure that issue is not with my custom package, I renamed `eng.traineddata` as `custom.traineddata` and used LANG_CUSTOM in `RNTesseractOcr.recognize`, app still crashes.

[2020-01-27 10:20] Mekkee commented on #64
Any updates on this one?

[2020-02-11 08:02] vbridier commented on #68
const path = data.uri.replace('file://', '');

[2020-03-09 11:52] MuhammadAhmed1994 commented on #62
Anybody resolved this issue?

[2020-03-24 20:55] mihailpreda commented on #53
The path is correct, but you need to grant read/write permissions :
add in android/app/src/main/AndroidManifest.xml :
`    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />`

Then you need to use AndroidPermissions , so
`import {PermissionsAndroid} from 'react-native';`
and then define someth

[2020-03-24 21:12] mihailpreda commented on #68
The path is correct, but you need to grant read/write permissions :
add in android/app/src/main/AndroidManifest.xml :
`    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />`

Then you need to use AndroidPermissions , so
`import {PermissionsAndroid} from 'react-native';`
and then define someth

[2020-04-14 07:53] tears743 opened #70 "android package name error"
package name is com.reactlibrary , this needs to rename, cause it will show error  Program type already present: com.reactlibrary.BuildConfig

[2020-05-13 04:40] nguyenvanan18031993 commented on #57
any solution for that? :(

[2020-05-13 04:41] nguyenvanan18031993 commented on #57
any solution for that? :(

[2020-05-15 02:42] nguyenvanan18031993 commented on #35
hello guys,
Same issue. I get incorrect output when scan Number in captured image from camera.
Thanks.

[2020-05-26 14:06] VishalTennyson commented on #69
Just link and run it again
`react-native link`
`react-native run-android`

[2020-05-26 17:34] VishalMathimaran opened #76 "Can we get tsv format output for finding boundary of text???"
So that we can use ‘tsv’ config file by adding tsv at the end of the command to get the TSV output

[2020-05-28 09:31] Rananjaya commented on #35
same issue here. Out out not correct

[2020-06-03 03:50] the-smart-home-maker commented on #57
I have the same problem - does anyone have an idea how to solve this issue?

[2020-07-15 04:43] jonathanpalma commented on #70
This issue has been marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.

[2020-07-15 04:43] #70 closed

[2020-07-15 04:49] jonathanpalma commented on #67
Hi @sytolk, you are right @rmtheis's repository has been archived. However, since (as far as I know) @alexcohn's version hasn't been published in the registry yet, this project will continue using the latest version in the [maven repository](https://mvnrepository.com/artifact/com.rmtheis/tess-two?repo=jcenter)

[2020-07-15 04:55] jonathanpalma commented on #68
Hi @YeisonVelez11, as @mihailpreda commented it is necessary to grant read/write permissions and also remove the substring `file://` from your path. You don't have to do this manually anymore since it is handled by the library since v2.

https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/8bd4851edb0902a8100a33ec5f4532df0589a262/android/src/main/java/com/reactlibrary/TesseractOcrModul

[2020-07-15 04:55] #68 closed

[2020-07-15 05:07] jonathanpalma commented on #19
I just released v2.0.0 which has many improvements that solve most of the open issues.

Can you please git it a try and open a new issue in case there is any bug?

@arheom this might solve your issue considering that tesseract recognition is happening in a different thread

https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/8bd4851edb0902a8100a33ec5f4532df0589a262/android/src/main/ja

[2020-07-15 05:07] #19 closed

[2020-07-15 13:58] jonathanpalma commented on #20
@DavitVosk this has been released in v2

[2020-07-15 13:58] #20 closed

[2020-07-15 13:59] jonathanpalma commented on #20
@all-contributors please add @DavitVosk for ideas

[2020-07-15 14:08] jonathanpalma commented on #25
As @oloyax commented, you should not include the `file://` substring as part of your path. However, since v2.0.0 the library is taking care of that under the hood. Regarding the language options, you can now import them as constants to avoid any kind of issue.

[code]

[2020-07-15 14:08] #25 closed

[2020-07-15 14:09] #26 closed

[2020-07-15 14:20] jonathanpalma commented on #44
@liyyil this was fixed in v2.0.0

[2020-07-15 14:20] #44 closed

[2020-07-15 14:36] jonathanpalma commented on #47
Trained data files should be placed under `android/app/src/main/assets/tessdata`, please make sure that this files look like `eng.traineddata`, `spa.traineddata`, `fra.traineddata`, etc...

In case you have any questions you can have a look at the example which contains a `.gitkeep` file to show you where to drop your trained data files.

https://www.github.com/jonathanpalma/react-native-tesseract

[2020-07-15 14:36] #47 closed

[2020-07-15 14:37] #48 closed

[2020-07-15 14:39] #53 closed

[2020-07-15 14:42] jonathanpalma commented on #76
@VishalTennyson please try using `recognizeTokens`, it will give you bounding and confidence information for each token. Make sure you add `level` property to the TessOptions object, this will let you specify the Iterator Level (symbol, word, line, paragraph, block)

[2020-07-17 20:15] Salimattivenkatvinay commented on #59
I'm facing the same issue. Any solution?

[2020-07-17 20:19] jonathanpalma commented on #59
@Salimattivenkatvinay can you please share the `react-native` and `react-native-tesseract-ocr` version you are using?

[2020-07-21 13:40] mitjnextt opened #82 "TypeError: _reactNativeTesseractOcr.default.recognize is not a function"
Facing following error :

`[TypeError: _reactNativeTesseractOcr.default.recognize is not a function. (In '_reactNativeTesseractOcr.default.recognize(path, _reactNativeTesseractOcr.LANG_ENGLISH, tesseractOptions)', '_reactNativeTesseractOcr.default.recognize' is undefined)]`

Here is my code :

[code]

[2020-07-21 23:58] jonathanpalma commented on #82
@mitjnextt can you please provide `react`, `react-native`, and `react-native-tesseract-ocr` version?

[2020-07-22 05:28] mitjnextt commented on #82
The version are like this :
[code]

[2020-07-22 05:29] jonathanpalma commented on #82
@mitjnextt are you trying to use it on Android or iOS?

[2020-07-22 05:31] mitjnextt commented on #82
@jonathanpalma  Update on the issue:
I have cleaned builds and now working on Android, getting scanned data in String

But on  iOS, no luck even after cleaning build

[2020-07-22 05:34] mitjnextt commented on #82
@jonathanpalma  I think code you provided is working successfully but issue is in linking, Am I missing something on iOS?

[2020-07-22 05:41] mitjnextt opened #83 "Scanned text with proper formatting"
Hi @jonathanpalma Is there any way to get data with proper formatting like space and tab-spaces. The following image shows how the scanned data looks like...
![Screenshot_2020-07-22-10-34-26-318_com bill_scan](https://user-images.githubusercontent.com/67790880/88138724-df394380-cc0b-11ea-9e33-176914474ff4.jpg)

[2020-07-22 05:41] #18 closed

[2020-07-22 05:41] #29 closed

[2020-07-22 05:41] #40 closed

[2020-07-22 05:41] #54 closed

[2020-07-22 05:41] #56 closed

[2020-07-22 05:41] #50 closed

[2020-07-22 05:41] #42 closed

[2020-07-22 05:41] #43 closed

[2020-07-22 05:41] #58 closed

[2020-07-22 05:41] #61 closed

[2020-07-22 05:41] #8 closed

[2020-07-22 05:41] #66 closed

[2020-07-22 05:41] #55 closed

[2020-07-22 05:41] #64 closed

[2020-07-22 05:41] #62 closed

[2020-07-22 05:44] jonathanpalma commented on #82
@mitjnextt I am glad you were able to make it work on Android. Unfortunately, this library doesn't support iOS

[2020-07-22 05:45] mitjnextt commented on #82
@jonathanpalma  Oh okay, Thanks for the help

[2020-07-22 05:45] #82 closed

[2020-07-24 18:29] jonathanpalma commented on #83
@mitjnextt sure, you can use [recognizeTokens](https://github.com/jonathanpalma/react-native-tesseract-ocr#recognizetokens), and provide the token level you want to recognize (LEVEL_BLOCK | LEVEL_LINE | LEVEL_PARAGRAPH | LEVEL_SYMBOL | LEVEL_WORD). This method will return an array of Tokens

[code]

[2020-07-30 06:35] ajaymarathe9 opened #84 "I'm getting this error while installing this package -> Unsupported URL Type "link:": link:../"
**Describe the bug**
npm ERR! code EUNSUPPORTEDPROTOCOL
npm ERR! Unsupported URL Type "link:": link:../

[2020-07-30 22:56] jonathanpalma commented on #84
@ajaymarathe9 are you trying to run the example project?

[2020-07-31 04:07] ajaymarathe9 commented on #84
Yes, I'm trying to run example project, what is wrong with it?

[2020-07-31 13:10] jonathanpalma commented on #84
I believe the issue is because you installed the library dependencies and also the example dependencies. In order to make it work, try to delete library node_modules and only install the example ones.

[2020-07-31 13:13] ajaymarathe9 commented on #84
Oh thanks, that's work, :) :+1:

[2020-07-31 13:14] #84 closed

[2020-08-01 14:49] #69 closed

[2020-08-07 09:53] CorpOnThron commented on #57
I have same problem for Android

[2020-08-07 14:40] DavidUnzue commented on #84
This error happens to me as well on a fresh project, just trying to install the package through npm as stated in the docs:
[code]

Any idea?

[2020-08-07 15:34] jonathanpalma commented on #84
@DavidUnzue can you please provide more information about the issues? What is the the `react`, `react-native` and `react-native-tesseract-ocr` you are using in your project?

[2020-08-09 07:36] AbdelkhalekESI commented on #84
@jonathanpalma  Getting the same error using yarn or npm
![Annotation 2020-08-09 083550](https://user-images.githubusercontent.com/34510420/89727320-61eb3c80-da1b-11ea-96ad-5079a1e36553.png)

[2020-08-09 20:00] jackyzsn opened #85 "Error when try to install react-native-tesseract-ocr to my react native project"
**Describe the bug**
Tried install to my project got error like below.
$ npm i react-native-tesseract-ocr --save
npm ERR! code EUNSUPPORTEDPROTOCOL
npm ERR! Unsupported URL Type "link:": link:../

**Dependencies (please complete the following information):**
 - react: 16.13.1
 - react-native: 0.63.2
 - react-native-tesseract-ocr:

**To Reproduce**
Steps to reproduce the behavior:
run "npm i react-

[2020-08-10 02:44] jackyzsn commented on #85
Extra logs:

20 verbose stack Error: Unsupported URL Type "link:": link:../
20 verbose stack     at unsupportedURLType (/usr/local/lib/node_modules/npm/node_modules/npm-package-arg/npa.js:200:15)
20 verbose stack     at fromURL (/usr/local/lib/node_modules/npm/node_modules/npm-package-arg/npa.js:258:13)
20 verbose stack     at Function.resolve (/usr/local/lib/node_modules/npm/node_modules/npm-pack

[2020-08-10 06:54] CorpOnThron opened #86 "java.io.IOException: Could not create directory"
**Describe the bug**
When picture URL is passed to recognize the method
![photo_2020-08-10_02-47-05](https://user-images.githubusercontent.com/39676808/89757736-19339200-dab4-11ea-84ae-3ea505ca10a1.jpg)

**Dependencies (please complete the following information):**
 - "react": "16.13.1"
 - "react-native": "0.63.2"
 - "react-native-tesseract-ocr": "^2.0.0"

**Code**

async takePicture() {
    if (t

[2020-08-10 21:16] jonathanpalma commented on #86
@CorpOnThron have you checked your app permissions?

[2020-08-10 21:35] CorpOnThron commented on #86
@jonathanpalma those are permissions I have
![image](https://user-images.githubusercontent.com/39676808/89833675-6ef95000-db2f-11ea-87a1-445137e94b9c.png)

All of them are allowed.

More of the background, I have OpenCV integration in this project, if it does change anything.

[2020-08-10 21:43] #85 closed

[2020-08-10 21:48] jonathanpalma commented on #85
@jackyzsn please try [v2.0.1](https://www.npmjs.com/package/react-native-tesseract-ocr/v/2.0.1)

[2020-08-11 11:04] luan-cs commented on #86
The same issue. How to fix this?

[2020-08-11 22:16] CorpOnThron commented on #86
@luan-cs no fix that I found yet.

[2020-08-11 22:32] jonathanpalma commented on #86
Still haven't been able to replicate it, can you please share the full stack trace?

[2020-08-12 17:27] jonathanpalma commented on #84
In case you have any question related to this issue please feel free to follow up here https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/85

[2020-08-13 11:46] DavidUnzue commented on #85
@jonathanpalma @jackyzsn I just tried with v2.0.1 and can confirm that it works now 🥳

React: 16.13.1
React Native: 0.63.2

[2020-08-13 22:43] CorpOnThron commented on #86
@jonathanpalma Sorry for late reply, here it is:

![image](https://user-images.githubusercontent.com/39676808/90194196-af0d3c80-dd94-11ea-9fbf-ad7ec196d42a.png)

  | reactConsoleErrorHandler | @ | D:\GitHubRep\veritas…tionsManager.js:179
-- | -- | -- | --
  | n | @ | D:\GitHubRep\veritas…\dist\backend.js:32
  | registerError | @ | D:\GitHubRep\veritas…ogBox\LogBox.js:148
  | errorImpl | @ | D:\Git

[2020-08-15 00:48] DiegoMac95 commented on #86
same problem with my app, with app permissions enabled

[2020-08-20 11:03] demonicinn commented on #86
![image](https://user-images.githubusercontent.com/15955970/90762462-b4bdd180-e302-11ea-97ee-68013705de3a.png)

[2020-08-20 11:10] demonicinn commented on #86
guys have you got solutions?

[2020-08-24 10:25] mohanprasathsj commented on #86
I am facing the same issue :(

[2020-08-26 23:35] kriptonhaz opened #88 "Crash when using another language"
**Describe the bug**
Just use a code from example and changing into LANG_INDONESIAN when after select image from camera it just crash. But when using LANG_ENGLISH is doing just fine.

**Dependencies (please complete the following information):**
 - react: 16.13.1
 - react-native: 0.63.2
 - react-native-tesseract-ocr: 2.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Copy from example
2.

[2020-08-29 11:26] mitjnextt commented on #83
Hello @jonathanpalma ,

As you suggested that this has not been implemented for iOS so I have never tried with above code, but I appreciated your help/reply for that code.

After that my colleague has worked on the demo with different native code, so then, we did not used any repo.

[2020-09-05 23:44] AdrianSva commented on #86
I'm running into the same issue. However, in my case it runs flawlessly without any errors through the emulator, but when I build the .apk and install it on my phone I'm met with this error. Permissions have been granted. Very strange.

[2020-09-08 11:08] protik3380 commented on #86
![Capture11](https://user-images.githubusercontent.com/25229309/92468890-b558d200-f1f5-11ea-9168-21516c66c9cf.PNG)
I am facing the same issue :(
Have anyone got solutions?

[2020-09-08 15:33] QuentinPentalog commented on #59
Hello, I have the same issue...

Here are the information :
`"react-native": "~0.62.2",
    "react-native-tesseract-ocr": "^2.0.1",`

[2020-09-11 10:08] thekrantz commented on #86
I'm have the same issue....
Anyone already find solutions?

[2020-09-13 15:48] alexcohn commented on #67
I don't intend to publish *my version* in maven repository, but you can easily do it if you need

[2020-09-13 23:15] jonathanpalma commented on #88
@kriptonhaz are you also adding Indonesian trained data under the `tessdata` directory?

[2020-09-13 23:21] jonathanpalma commented on #86
Hi everyone! I've been busy during the last weeks and haven't had enough time to work on this, but I would appreciate if anyone can take a look, will try to follow up in the upcoming weeks

[2020-09-13 23:30] jonathanpalma commented on #67
@alexcohn thanks for replying, I have never published a package in Maven repository but will do my research in order to assess whether investing effort on it provides enough value considering the limited amount of time I can currently spend on this project. Would you be able to have a quick chat to understand the current state of your version?

[2020-09-14 08:25] alexcohn commented on #67
@jonathanpalma I will be glad to provide any help necessary, but I don't remember much about this. Maybe you can get better collaborator in @gregko, who is currently working on version 4.1.1: https://github.com/gregko/tess-two

[2020-09-19 10:27] bartoszcpp commented on #86
I'm have the same issue. Anyone find solutions?

[2020-09-19 15:43] AmineZAMANI commented on #86
This library have a strong dependency with react-native-image-crop-picker, I think it's related to a missing permission request that is already handled by the crop library. I finally fixed it by using react-native-image-crop-picker instead of using direcly RNCamera.

Another line of investigation :
Files created by crop library are located under  :  file:///storage/emulated/0/Pictures/...
Files cr

[2020-09-20 08:15] thekrantz commented on #86
@AmineZAMANI can u explain to us more details? what you changed in the source code? Thank youu

[2020-09-20 16:07] #76 closed

[2020-09-20 16:07] #27 closed

[2020-09-21 15:23] AmineZAMANI commented on #86
I fixed the problem following this steps :

 1) Adding this dependency in the package.json :
[code]
2) intercept the picture using this library (react-native-image-crop-picker) :

[code]

3) Process the captured image using OCR library :

[code]

Good luck !

[2020-09-24 08:16] code4eat opened #89 "java.io.IOException: Could not create directory at Object.promiseMethodWrapper [as recognize]"
**when after take a picture,the Error appear in the console.**

![image](https://user-images.githubusercontent.com/57738591/94118970-d15ca480-fe80-11ea-9f73-4963e39e3a01.png)

![image](https://user-images.githubusercontent.com/57738591/94118487-306de980-fe80-11ea-8399-f5d8f04e0f56.png)

pkg.json

![image](https://user-images.githubusercontent.com/57738591/94118882-b427d600-fe80-11ea-8634-17118ec88

[2020-09-28 11:56] PujanShah22 commented on #89
I was facing same issues.
**These steps helped me to fix bugs:**
1) In Android Folder, open AndroidMenifest file and add android:requestLegacyExternalStorage

[code]

2) Check that you have language.traineddata (for example eng.traineddata for English language) in android/app/main/assets/tessdata/ ? if not create assets/tessdata folders. Download your required language's traineddata file from here

[2020-09-28 12:03] PujanShah22 commented on #86
I was facing same issues.
**These steps helped me to fix bugs:**

**1.** In Android Folder, open AndroidMenifest file and add android:requestLegacyExternalStorage
  <manifest ... >

    <application
       android:requestLegacyExternalStorage="true"
     ... >
     ...
    </application>
  </manifest>

**2.** Check that you have language.traineddata (for example eng.traineddata for English languag

[2020-09-29 03:04] code4eat commented on #89
thank you guys, i hava selected other pakege to my project. so i can't verify now. hope it can help the others

[2020-09-29 20:57] abstracted26 commented on #89
created a folder named assets and then created a folder under assets named tessdata and pasted eng.traineddata there. But the app still shows [Error: java.io.FileNotFoundException: tessdata/eng.traineddata]

Help Please!

[2020-10-04 12:35] alperen2 commented on #86
Thank you so much, i was trying fix this problem for 2 weeks. This solve is worked

[2020-10-04 12:57] PujanShah22 commented on #89
@abstracted26
Can you please post error logs of android studio here? So, I can help you :)

[2020-10-06 10:32] aristech commented on #59
same here  :(

`"react-native": "~0.6x.x", "react-native-tesseract-ocr": "^2.0.1",`

[2020-10-06 12:37] UmeshBaldaniya46 opened #90 "App get crash while TesseractOcr.recognize"
**Describe the bug**
Create new sample project add tesseract-ocr & image-picker. Add eng.traineddata file in to assets folder, and try to run

Getting error like Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 14659 (Thread-5), pid 14527 (.awesomeproject),

I have done google for that, They said you are update UI from BG thread. but i did not do any thing, i have just copy code from your sampl

[2020-10-07 08:44] aristech opened #91 "Changing package name causes crash"
**Describe the bug**
A clear and concise description of what the bug is.
I've been working with a clean installation and the app crashes when recognize starts,
on the example everything works great so is started to upgrade the packages
all good, app still works as expected.
the moment i change the package name to anything beside com.example the app crashes  at the return from createTesseractAPI wi

[2020-10-09 02:24] thekrantz commented on #86
I'm already follow step 2 but still error.. [Error: java.io.FileNotFoundException: tessdata/eng.traineddata]

[2020-10-13 04:38] rchowdhe commented on #90
Hello everyone, is there any update regarding above issue? I am facing same issue.

[2020-10-13 11:44] #57 closed

[2020-10-27 10:17] aristech commented on #91
Is this package abandoned?

[2020-11-18 08:21] ziyafenn opened #92 "Tesseract iOS version that works on RN"
I was working on a project where we needed tesseract to read images from both android and ios and as to my latest recollection, ios version wasn't working. So i hired a developer and to my own surprise, he was able to make a native iOS Tess version to work with the RN.

Here is the link to fork: https://github.com/ziyafenn/tesseract-objc-prz

As you can see, the last commit was 2 years ago and tha

[2020-11-18 08:22] ziyafenn commented on #8
https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/92

[2020-11-18 09:56] yf-hk commented on #92
It's so cool! Thanks very much for sharing!

[2020-11-20 00:14] #88 closed

[2020-11-20 09:55] #67 closed

[2020-12-10 00:15] lutakyn commented on #35
i have the same issue, the text in my image is "I am Three" , the output is k. Is the trained data wrong?

[2020-12-10 14:14] #89 closed

[2020-12-12 13:00] #59 closed

[2020-12-15 05:07] #86 closed

[2020-12-19 05:04] #90 closed

[2020-12-28 07:55] cpawar96 commented on #92
is Tesseract OCR for iOS finished?

[2020-12-29 04:30] cpawar96 opened #94 "Rect Native Tesseract OCR for IOS"
we needed tesseract to read images from both android and **_ios_** .

[2020-12-30 06:43] ChethanAndroid opened #95 "Bug FileNotFoundException after capture image"
**Describe the bug**
A clear and concise description of what the bug is.

**Dependencies (please complete the following information):**
 - react: [e.g. 16.11.0]
 - react-native: [e.g. 0.62.2]
 - react-native-tesseract-ocr: [e.g. 2.0.0]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2021-01-02 11:18] #91 closed

[2021-01-04 12:27] rizbud commented on #86
i was following step by step, but it's still showing `java.io.IOException: Could not create directory.`

[2021-01-16 17:19] parice02 opened #96 "data extraction from an ID card"
**Is your feature request related to a problem? Please describe.**
Hi, when I try to extract data from an ID card, the data is not clear enough and the extraction takes from 5 seconds to more than a minute sometimes. Should I process the image before extraction? If so, could you suggest me some image processing libraries compatible with react-native?
Thank you for your help.

[2021-02-02 09:50] saravana05 opened #97 "Error at the time of TesseractOcr recognizedText"
Error while updating property 'stoke in shadow node of type: ARTShape

java.lang.string.cannot be cast to com.facebook.react.ReadableArray

[2021-02-24 00:14] dllz opened #98 "Support Tesseract 4.0"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The Android library this uses only supports tesseract 3.0, this is because the framework underneath last got updated 2 years ago. There is a fork of that library that seems to of upgraded to v4.1 of tesseract. https://github.com/alexcohn/te

[2021-02-27 23:08] arunahuja94 commented on #95
create

 folders in

and download your required language's **traineddata** file from **https://github.com/tesseract-ocr/tessdata** and paste in

[2021-02-27 23:10] arunahuja94 commented on #35
same issue here. output not correct
Any solutions?

[2021-03-05 12:23] #92 closed

[2021-03-06 08:07] #94 closed

[2021-03-07 19:48] arunahuja94 commented on #98
There is the fork of **tess-two** library upgraded to v4.1  [https://github.com/adaptech-cz/Tesseract4Android](https://github.com/adaptech-cz/Tesseract4Android) and the dependency  for that is

[code]

[2021-03-22 22:15] dllz commented on #98
@arunahuja94 Is it easy to switch across to this? I imagine the function signatures changed between versions?

[2021-03-22 22:42] jonathanpalma commented on #98
@dllz I decided not to use alexcohn's fork since it might not receive long term support (you can check it [here](https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/67#issuecomment-691902943)), however I have been looking for another option and I think the one suggested by @arunahuja94 seems pretty stable at first look. I will try to dedicate some time to check if it is something fe

[2021-03-22 22:46] dllz commented on #98
I have not had a chance to work on it yet, been finishing up some other things first. That being said I will start digging into it tonight and keep you updated.

[2021-03-23 05:35] arunahuja94 commented on #98
@dllz it is working after changing the dependencies , but the output has not improved , image preprocessing is required for that, haven't found any good way to to do that in react native yet

[2021-03-23 20:46] dllz commented on #98
@arunahuja94 Surprisingly for my use case I have noticed a huge improvement, speed is a lot better as well on mobile, worse in emulator, also switching to the 'best' data files made a big difference https://github.com/tesseract-ocr/tessdata_best

[2021-03-25 19:56] #96 closed

[2021-03-27 22:51] wadewadewadewadewadewade commented on #95
This thread, and this comment in particular, may help you: https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/89#issuecomment-699961143

[2021-03-27 22:59] wadewadewadewadewadewade commented on #35
I used the 4.0 training data from here: https://github.com/tesseract-ocr/tessdata ; and the result isn't great.

When I use it on an image that has a cartoon zebra in the background partially and some sans-serif green text reading 'ZEBRA' that's huge in the image, with letters spread far apart, I get:
[code]
Which isn't great, but is at least better then a handwritten pencil on white paper  with t

[2021-03-29 16:45] vigyanhoon commented on #89
I am getting the same error  Possible Unhandled Promise Rejection (id: 0):
Error: java.io.IOException: Could not create directory
promiseMethodWrapper@http://localhost:8081/index.bundle?platform=android&dev=true&minify=false:2242:45

commitHookEffectListMount@http://localhost:8081/index.bundle?platform=android&dev=true&minify=false:19990:38
commitPassiveHookEffects@http://localhost:8081/index.bund

[2021-03-29 23:05] rajwanialiya commented on #86
I'm also having the same issues despite following the recommended steps. The changes I've made are displayed below:
![Screen Shot 2021-03-29 at 7 04 42 PM](https://user-images.githubusercontent.com/44960260/112910567-a23e1e80-90c1-11eb-8f5c-349b96feb8ee.png)

![Screen Shot 2021-03-29 at 7 02 52 PM](https://user-images.githubusercontent.com/44960260/112910446-5ee3b000-90c1-11eb-8561-1fc61ef40f5d.pn

[2021-03-31 08:08] lloytynoja commented on #89
@vigyanhoon

[code]

I went through the java code and found the exception and searched for mkdirs from android documentation, which gave some pointers. I was able to get this to work by adding the parameter and creating directory as described [here](
https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/89#issuecomment-699961143) but additionally I had to  allow the storage permission

[2021-03-31 08:23] lloytynoja commented on #35
@wadewadewadewadewadewade

As project uses tess-two, I think you should use 3.x training data. At least on my app, results are now better (not perfect yet, but haven't explored with image sizes nor other parameters yet). The data is available here (linked in tess-two documentation): https://github.com/tesseract-ocr/tessdata/tree/3.04.00

[2021-04-10 19:30] #97 closed

[2021-04-14 06:40] shivaraj12345 opened #104 "Arabic language not supporting?"
I have added arabic file ara.traineddata file to assets/tessdata folder but still i am not abel to get arabic data from image in android

[2021-05-20 10:46] isfandiarto opened #111 "only work on white color font (and black background)"
it seems to only work on white colored font with black background for me, when i tried image that has different color, the result is incomprehensible. anyone having the same problem?

[2021-05-20 15:09] isfandiarto commented on #35
i have the same problem, for me it seems to work only on image with white font and black background, other than that the result is gibberish. Any advice to this problem

[2021-05-24 04:35] AnanPani opened #112 "Can add other language to library?"
i try to add other language with out in library react-native-tesseract-ocr (react-native-tesseract-ocr/index.js)
such as

export const LANG_THAI = 'tha';

and add my project package.json

"dependencies": {
     ....
    "react-native-tesseract-ocr": "file:../react-native-tesseract-ocr"
},

but when i'm use LANG_THAI in my project like below

//Import
import TesseractOcr, {
    LANG_THAI,
  useEven

[2021-05-31 04:20] #98 closed

[2021-06-04 07:49] #95 closed

[2021-06-20 10:41] #104 closed

[2021-06-27 16:43] orinu commented on #69
Run it via React Native with Expo and get:
"null is not an object (evaluating '_reactNativeTesseractOcr.default.recognize')"

[2021-07-08 06:12] ejkkan opened #115 "iOS support"
**Is your feature request related to a problem? Please describe.**
Do you have any plans or timeline as when your thinking of bringing in iOS support for this library?

**Describe the solution you'd like**
Same functionality over both Android and iOS

[2021-07-13 16:45] ameyarumbleon commented on #69
Hey did anyone get a solution. Nothing is working for me.

[2021-07-19 03:53] AlenToma commented on #86
I am having this issue only on real device. The library works really well on emulator

[2021-07-20 12:26] AlenToma commented on #86
After looking into this issue, I found that the library is trying to create a folder under app

`Path: /storage/emulated/0/com.xxx/tessdata]`

Is this path included in `WRITE_EXTERNAL_STORAGE` ?

This problem only happened when running the app in mobile. So I think that after the update this path will no longer included in `WRITE_EXTERNAL_STORAGE`. We need to choose a different path.

It will be g

[2021-07-26 23:53] #111 closed

[2021-07-26 23:53] #35 closed

[2021-07-29 13:41] busykid commented on #115
ios working?

[2021-07-30 10:20] #112 closed

[2021-08-22 13:13] Noitidart commented on #115
@busykid I don't think so. I didn't try, but the readme says ios only.

[2021-08-29 06:57] fair-man opened #120 "Example doesn't work"
I am trying to run an example https://github.com/jonathanpalma/react-native-tesseract-ocr/blob/master/example/App.js but cant do it

steps to reproduce:

1. Create a new project with npm `npx react-native init testproject`
2. Install react-native-tesseract-ocr library and link dependencies `npm i react-native-tesseract-ocr --save` `react-native link react-native-tesseract-ocr`
3. Copy from https:/

[2021-08-29 07:44] fair-man commented on #120
https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/86
https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/89

Doesn't help solve the problem.

[2021-09-09 18:50] ARSSHEIKH commented on #69
Last updated 2 years ago, I don't think now it will work

[2021-09-16 06:08] manishbss-sdei commented on #120
@fair-man  did you add the eng.traineddata file in your project?

[2021-09-16 07:59] fair-man commented on #120
No, I didn't. Where can I get the eng.traineddata file and where should I put it in my project?

[2021-09-17 04:46] michtnt commented on #11
@chetankotkar did you figure out how to fix it?

[2021-10-07 16:23] najeeb2113 commented on #120
kept the trained data in specified directory still files doesnt work
coud not create directory

[2021-10-08 08:06] kittipongkp opened #123 "Custom languages version 2.0.3 not Work"
**Describe the bug**
A clear and concise description of what the bug is.

**Dependencies (please complete the following information):**
 - react: [e.g. 16.11.0]
 - react-native: [e.g. 0.62.2]
 - react-native-tesseract-ocr: [e.g. 2.0.3]

Custom language

Add custom.languages to
android/app/src/main/assets/tessdata/custom.traineddata

and use  LANG_CUSTOM not Work

custom.traineddata from https://gi

[2021-10-10 05:47] saurabh-nandan commented on #120
I am also getting the same error. Could you please provide eng.traineddata file, it's not there in the project.

[2021-10-13 13:33] Ajayg96 commented on #120
react-native-tesseract-ocr uses [tess-two](https://github.com/rmtheis/tess-two) library for Android which is no longer maintained. If you still want to use it you can find trained data files [here](https://github.com/tesseract-ocr/tessdata/tree/3.04.00)

[2021-10-14 11:33] admin-logochemist commented on #86
Anybody who find soluting facing same issue

[2021-10-21 13:28] theneekz opened #124 "Example outdated"
**Describe the bug**
Hey there! I am forking this repo in an effort to add iOS compatibility. I already have linked the native tesseract ios module to react native in a personal project, but there are a few extra steps to getting it added to a package it seems. I'm trying to test by running the example from this repo and it's had a ton of issues. I finally got it to a good spot but am still having

[2021-10-21 13:42] jonathanpalma commented on #124
I can give it a try, can you please share the fork?

[2021-10-23 07:26] sashiksu commented on #86
facing the same issue 🤦‍♂️

[2021-10-28 12:56] theneekz commented on #124
The fork I am struggling with is - https://github.com/theneekz/react-native-tesseract-ocr

[2021-10-28 13:28] theneekz commented on #115
It's not but I'd like to contribute. I have linked the ios native module into react native before, but I don't know if I need to support all of the methods that this package already seems to support for android:
[code]

[2021-12-09 18:53] Lee-YuMin opened #125 "Could not initialize Tesseract API with language=eng! in android 11"
i'm using this library thankfully. but i faced some error when i upgrade targetSdkVersion to 30 because of google's policy

when i called TesseractOcr.recognizeTokens() method. it dosen't work. it seem like JNI issue.

it was worked until version 29. but it is not working from version 30.
if i build again with version 29. it is working.
can you fix this?

this is error message.

 E/Tesseract(nativ

[2021-12-14 16:24] #123 closed, assigned to nobody

[2021-12-14 23:20] albertbuchard commented on #115
https://reinteractive.com/posts/442-bringing-tesseract-to-mobile-with-react-native

[2021-12-14 23:24] theneekz commented on #115
This is actually the post I used in order to set it up. I have a project that can run it, I'm just not sure how to get that work into this package. I know the methods available are different for one. Another major difference is that i can only use English on the iOS project.

[2021-12-19 21:08] #120 closed, assigned to nobody

[2022-01-03 18:04] #124 closed, assigned to nobody

[2022-02-06 00:18] Macilias commented on #115
I know its stated that iOS is not supported yet, but its obviously planned since 2 Years and no progress there, do you need some particular help?

Currently the exception is:
`[TypeError: null is not an object (evaluating '_reactNativeTesseractOcr.default.recognize')]`

so it looks like some default has not been set there but what else?

[2022-02-07 15:45] theneekz commented on #115
Currently there is nothing linked for iOS. I know how to implement the solution like in the article mentioned above but it would not match the android solution already used in this package (the methods are named differently and the article only teaches you how to set it up in English). I also don't see how to integrate it into this repo, that's something I need to spend more time on/get help with.

[2022-02-07 20:33] Macilias commented on #115
Well additional models for other languages can be found here: https://github.com/tesseract-ocr/tessdata/tree/bf82613055ebc6e63d9e3b438a5c234bfd638c93

There is also an different project aiming the same target: https://github.com/zsajjad/react-native-text-detector
But it seams to be dead since it was updates for years now, but it would be great to have an module for OCR for react-native and this in

[2022-02-10 18:10] HipppB commented on #86
Facing the same issue, I've tried everything. it works perfectly on emulator but not at all on real device
[Error: java.io.IOException: Could not create directory]
I even tried with the exemple code (by taking only the code in app.js) same issue 😕
I also checked proposed solutions but nothing seems to work.

I know this repo is kinda old, anyone knows an alternative for react native ocr ? Or maybe

[2022-02-10 19:04] sashiksu commented on #86
By using this package your mobile app size will increase. So better to go with a third-party online service if your app has access to the internet connection of the device.

[2022-02-10 19:09] Macilias commented on #86
Thats really interesting, @HipppB  I am using an alternative react-native-text-detector which is even less maintained but provides support for iOS, and I'm facing the exact same problem over there. The simulator is working fine but the real mobile is constantly crashing once tessdata is use.

[2022-02-10 20:02] HipppB commented on #86
@Macilias I am going to look to change.
I have worked on the problem for hours now and I think I am on something to make this library work, I lack skills to make it work for the moment but I will explain here what I think is the issue

This package is using File instructions to create folders, and modify them and uses Environment.getExternalStorageDirectory() to get a place to create files. It see

[2022-02-17 11:20] Thanhal-P-A commented on #123
+1

[2022-02-18 09:05] #125 closed, assigned to nobody

[2022-04-21 03:03] #115 closed, assigned to nobody

[2022-04-22 09:48] Productivix opened #131 "compile with React Native 0.68.1 2 pbs"
thanks for the code and integration.
**Describe the bug**

I installed the packages in a fresh 0.681 RN app.
yarn react-native run-android gives me 2 failures :

FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* Where:
Build file 'C:\Users\info\Documents\logiciels-windows\dev_RN-Node-GIT\test_rn_vision\node_modules\react-native-tesseract-ocr\android\build.g

[2022-04-25 09:46] yestay90 commented on #131
@Productivix , did you fork and updated project from react 0.62.2 to 0.68.1? I ask it cause when you install this package you should get error saying that you react version is higher. I forked this project and updated it from react native 62 to 64. I am running on iOS and getting [error](https://github.com/jonathanpalma/react-native-tesseract-ocr/issues/69). Can you check on iOS ? Do you have the

[2022-04-25 11:05] Productivix commented on #69
hi @yestay90 , if you clone the projet and run , it will not run at all , it is a module to ADD in a RN project : it has no RN module itself. regards

[2022-04-27 14:48] gciluffo commented on #52
Couldnt you programmatically convert the pdf to an image file then feed that to Tesseract? This would probably work well depending on if the tool to convert the pdf retains enough information for Tesseract to do its thang.

[2022-05-13 07:21] zineKaushal opened #134 "java.io.IOException: Could not create directory"
'react-native-tesseract-ocr' this library working fine in emulator but not working in  phone (apk)

[2022-05-13 07:24] HipppB commented on #134
This is due to a change in android API, you must be using a different android version on your simulator and on your phone
You can check the fix I found just here https://github.com/jonathanpalma/react-native-tesseract-ocr/pull/127
It's only one line to change in the code.

Hope it helps

[2022-06-13 17:35] stoplion commented on #92
iOS iOS iOS

[2022-07-07 04:13] Productivix commented on #131
hi @yestay90 , sorry I did not see your answer - What do you mean as solution exactly ? I installed a fresh RN and then the module . Do you mean that install a version of RN adapted to the module and then upgrade ?

[2022-07-07 09:25] Productivix commented on #131
ok : test :
- install fresh RN 0.61.5 , add this repo : no problem
- yarn run android : no problem
- only in the metro at screen an error unexpected token : expected a ')' or a ";" after parameter declaration
I never learned that old version script , so I put in my app.json :
'''
import React, {useState} from 'react';
import {SafeAreaView, Text} from 'react-native';

import TesseractOcr, {LANG_ENG

[2022-07-30 17:52] #134 closed, assigned to nobody

[2022-08-02 06:06] thasatsaya opened #140 "My app is closing itself immediately after opening."
I have try using this GitHub link  but after building and open the app through virtual device on android studio. The app is closing itself.

Procedure I do

1 load zip from GitHub link
2. Replace android folder with another android folder that locate within example folder
3. open cmd as admin and cd to github directory use commands
npm i react-native-tesseract-ocr --save
react-native link react-na

[2022-09-21 13:27] #131 closed, assigned to nobody

[2022-10-07 14:25] asadMumtaz-YSTL opened #141 "TypeError: _reactNativeTesseractOcr.default.recognize is not a function"
**Describe the bug**
After choosing image from phone gallery, I face this issue
**Issue: **

TypeError: _reactNativeTesseractOcr.default.recognize is not a function
    at _callee$ (RN_ocr.js:24:36)
    at tryCatch (regeneratorRuntime.js:86:17)
    at Generator._invoke (regeneratorRuntime.js:66:24)
    at Generator.next (regeneratorRuntime.js:117:21)
    at tryCatch (regeneratorRuntime.js:86:17)

[2022-10-12 10:06] #140 closed, assigned to nobody

[2022-10-19 13:49] asadMumtaz-YSTL commented on #141
@jonathanpalma Can you explain?

[2022-10-19 19:19] jonathanpalma commented on #141
Sorry, there is no support of this library on iOS at the moment

[2022-11-25 10:54] Neel-shetty opened #142 "package doesnt build"
**Describe the bug**
can't build the app after installing the package

**Dependencies (please complete the following information):**
 - react: 18.1.0
 - react-native: 0.70.6
 - react-native-tesseract-ocr: 2.0.3

**To Reproduce**
Steps to reproduce the behavior:
1. initialize a new react native project
2. yarn add react-native-tesseract-ocr
3. yarn react-native run-android
4. See error

**Error mes